<ng-container *ngIf="mode === 'page'">
  <app-header [history]="history"></app-header>
  <app-navbar></app-navbar>
  <app-side-bar></app-side-bar>
</ng-container>

<div class="w-100" [ngClass]="{ 'container-row d-flex': mode === 'page' }">
  <ng-container
    *ngTemplateOutlet="loadingAll; context: { loading: loading }"
  ></ng-container>
  <div *ngIf="mode === 'home'" class="col-12 mb-2">
    <b class="text-muted">{{ title }}</b>
  </div>
  <mat-tab-group
    *ngIf="mode === 'page'"
    animationDuration="350ms"
    color="accent"
    [(selectedIndex)]="indexTab"
    (focusChange)="changeTab($event)"
    disableRipple
    class="w-100"
  >
    <mat-tab [label]="'PURCHASE.ALL_PURCHASE' | translate"> </mat-tab>
    <mat-tab [label]="'PURCHASE.PRE_PURCHASE' | translate"> </mat-tab>
    <mat-tab [label]="'PURCHASE.PAY_ORDER' | translate"> </mat-tab>
    <mat-tab [label]="'PURCHASE.INVOICE' | translate"> </mat-tab>
  </mat-tab-group>

  <app-list-items
    (cbAdd)="goTo()"
    [(data)]="data"
    (cbPdf)="cbPdf()"
    [mode]="cbMode"
    [customTemplate]="customTemplateSrc"
    (cbSrc)="onSrc($event)"
    class="col-12 row m-0 pl-1 pr-1"
  >
  </app-list-items>

  <ng-container
    *ngTemplateOutlet="templateEmpty; context: { data: dataTake }"
  ></ng-container>
</div>

<!-- ************ PAGINATE BUTTON ************  -->
<div *ngIf="viewMore" class="w-100" [style.opacity]="loading ? '0' : '1'">
  <ng-template
    #firstTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
  </ng-template>

  <ng-template
    #lastTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
  </ng-template>
  <ng-template
    #prevTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleLeft"></fa-icon>
  </ng-template>
  <ng-template
    #nextTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleRight"></fa-icon>
  </ng-template>
  <div
    class="pagination-row"
    *ngIf="pagination?.hasPrevPage || pagination?.hasNextPage"
  >
    <pagination
      (pageChanged)="pageChanged($event)"
      [itemsPerPage]="pagination?.limit"
      [customFirstTemplate]="firstTemplate"
      [customLastTemplate]="lastTemplate"
      [customPreviousTemplate]="prevTemplate"
      [customNextTemplate]="nextTemplate"
      [maxSize]="pagination?.limit"
      [totalItems]="pagination?.totalDocs"
    >
    </pagination>
  </div>
</div>

<!-- ***************** TEMPLATE ************** -->

<ng-template #customTemplateSrc let-dat="dat">
  <ul>
    <li
      *ngFor="let inside of dat | async"
      [routerLink]="['/', 'purchase', inside?._id]"
    >
      <div class="row ml-0 mr-0 item-list-single col-12 pl-0 pr-0">
        <!--Blocked CUSTOMER 1-->
        <div
          class="pl-2 pr-2 pt-1 pb-1 col-lg-4 col-xl-5 col-md-4 col-sm-4 col-4"
        >
          <div class="d-flex">
            <div class="w-100">
              <div class="name mr-2 w-75 truncate font-weight-bold">
                <span class="mr-1 text-muted" [tooltip]="inside?.author?.name">
                  <fa-icon size="sm" [icon]="faUserTie"></fa-icon>
                </span>
                {{ inside?.customer?.name }} {{ inside?.customer?.lastName }}
              </div>
              <div>
                <span class="text-muted truncate">
                  <fa-icon size="sm" [icon]="faPhoneAlt"></fa-icon>
                  {{ inside?.customer?.phone }}</span
                >
              </div>
            </div>
          </div>
        </div>
        <!--Blocked-->
        <!--Blocked 1-->
        <div
          class="pl-2 pr-2 pt-1 pb-1 col-lg-4 col-xl-5 col-md-4 col-sm-4 col-4"
        >
          <div class="d-flex align-items-center align-content-center">
            <div>
              <div class="small text-muted">{{ inside?.createdAt | date }}</div>
              <div class="name mr-2">
                {{ currencySymbol }}
                {{ inside?.total | number: "1.2-2" }}
                {{ currency }}
              </div>
            </div>
          </div>
        </div>
        <!--Blocked-->
        <!--Blocked 1-->
        <div
          class="pl-2 pr-2 pt-1 pb-1 col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4"
        >
          <div
            class="d-flex justify-content-end align-content-center align-items-center"
          >
            <div
              [tooltip]="inside?.status"
              containerClass=""
              [ngClass]="{
                'purchase-status-badge-paid': inside.status === 'paid',
                'purchase-status-badge-hold': inside.status === 'hold',
                'purchase-status-badge-process': inside.status === 'process',
                'purchase-status-badge-exceptional':
                  inside.status === 'exceptional',
                'purchase-status-badge-credit': inside.status === 'credit',
                'purchase-status-badge-pre-paid ':
                  inside.status === 'pre-paid ',
                'purchase-status-badge-delivery-paid':
                  inside.status === 'delivery-paid'
              }"
            ></div>
            <!-- ******** PDF PLUGIN *** -->

            <div class="ml-2">
              <Kit-button-pdf [id]="inside?._id"></Kit-button-pdf>
            </div>

            <!-- ******** PDF PLUGIN *** -->
          </div>
        </div>
      </div>
    </li>
  </ul>
</ng-template>

<ng-template #templateEmpty let-data="data">
  <ng-container *ngIf="!loading">
    <app-box-empty *ngIf="!data?.length"></app-box-empty>
  </ng-container>
</ng-template>

<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img
        [width]="'5rem'"
        src="../../../../../assets/images/loading-svg.svg"
        alt=""
      />
    </div>
  </div>
</ng-template>
