.item-row{
  cursor: pointer;
  background-color: white;
  padding: .5rem .5rem;
  font-size: var(--font-size-2);;
  border-radius:  var(--border-radius-35);
  margin-top: .8rem;
  box-shadow: var(--box-shadow);
}


.form-group label {
  font-size: var(--font-size-2);;
}

.form-group {
  margin-bottom: 0;
}

.form-product .label {
  font-size: var(--font-size-2);;
}

.form-product .name {
  font-size: 1rem;
}
