<div class="row m-0 col-12 p-0">
  <div class="border-right-color col-sm-12 col-md-12 col-lg-4">
    <div class="login-section">
      <div class="title-section animate__animated animate__fadeInDown">
        <h1 class="title">{{"LOGIN.WELCOME" | translate}}, <i>{{data?.name}}</i></h1>
        <span class="text-muted">{{"LOGIN.SUB_TITLE" |translate}}</span>
      </div>
      <form class="animate__animated animate__fadeInDown" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-group">
          <label for="exampleInputEmail1">{{"LOGIN.FORM.EMAIL" |translate}}</label>
          <input type="text" class="form-control"
                 formControlName="email"
                 id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="">
          <small class="form-text text-muted">{{"LOGIN.FORM.EMAIL_PLACEHOLDER" |translate}}</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">{{"LOGIN.FORM.PASSWORD" |translate}}</label>
          <div class="position-relative">
            <input [type]="(!showPass) ? 'password' : 'text'"
                   formControlName="password"
                   class="form-control" id="exampleInputPassword1" placeholder="">
            <span class="wrapper-show-pass" (click)="showPass = !showPass">
            <fa-icon *ngIf="!showPass" [icon]="faEye"></fa-icon>
            <fa-icon *ngIf="showPass" [icon]="faEyeSlash"></fa-icon>
          </span>
          </div>
          <small class="form-text text-muted">{{"LOGIN.FORM.PASSWORD_PLACEHOLDER" |translate}}</small>

        </div>
        <button [disabled]="!form.valid" ngxLoading [loadingFlag]="loading"
                [textInitial]="'LOGIN.FORM.SEND' | translate"
                [textLoading]="'GENERAL.LOADING_SINGLE' | translate"
                type="submit" class="btn btn-primary hvr-grow btn-radius btn-block"></button>
        <div class="col-12 text-center p-4">
          <a class="font-weight-bold" [routerLink]="['/','oauth','forgot']">{{'LOGIN.FORGOT_PASSWORD' | translate}}</a>
        </div>
        <div class="row">
          <div class="col-6">
            <a [href]="urlOauth.google"
                    type="submit" class="btn hvr-grow btn-oauth-google font-weight-bold btn-radius btn-block">
              <fa-icon [icon]="faGoogle"></fa-icon> {{'LOGIN.BTN_GOOGLE' | translate}}
            </a>
          </div>
          <div class="col-6">
            <a [href]="urlOauth.fb"
                    type="submit" class="btn hvr-grow btn-oauth-google font-weight-bold btn-radius btn-block">
              <fa-icon [icon]="faFacebookF"></fa-icon> {{'LOGIN.BTN_FACEBOOK' | translate}}
            </a>
          </div>

        </div>
        <!--        <button type="submit" class="btn btn-primary hvr-grow  btn-radius btn-block">{{"LOGIN.FORM.SEND" |translate}}</button>-->
      </form>
    </div>
  </div>
  <div class="col-8 img-section d-none d-sm-none d-md-none d-lg-block">
    <div class="text-center d-block m-auto">
      <ng-lottie width="50%" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
  </div>
</div>
