<div class="col-12 row m-0 p-0">
  <ul class="item-list col-12 d-flex">
    <li class="col-lg-3 pl-0 col-md-4 col-sm-12" (click)="open(item)" *ngFor="let item of plans">
      <div class="item-add-on">
        <div class="d-flex justify-content-between">
        </div>
        <div class="pt-3 pr-1 pb-1 pl-1 d-flex flex-column justify-content-between h-100">
          <div>
            <div class="w-100 d-flex justify-content-between">
              <h5><b>{{item?.title}}</b></h5>
              <div class="badge-price">
                {{item?.price | number:'1.2-2'}} USD
              </div>
            </div>
            <ul class="list-unstyled m-0 p-0">
              <li class="pt-1 pb-1 w-100" *ngFor="let feature of item?.features">
                <div class="font-weight-bold text-dark">{{feature?.title}}</div>
                <div class="small text-muted">{{feature?.description}}</div>
              </li>
            </ul>
          </div>
          <div class="pt-2 pb-2">
            <button [disabled]="item?.disabled" class="btn btn-default btn-block">{{'PLAN.ACTIVE' |translate}}</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
