<div class="close-menu d-block d-lg-none " *ngIf="openShow"
     (click)="closeMenu()">
  <fa-icon [icon]="faArrowLeft" size="lg"></fa-icon>
</div>
<div class="menu-wrapper"
     [ngClass]="{'d-flex':(openShow) , 'd-none':!openShow}">
  <div class=" flex-column overflow-auto h-100 justify-content-between">
    <div>
      <div [routerLink]="['/']">
        <div class="logo" [style.backgroundImage]="'url('+logo+')'">
          <fa-icon *ngIf="!logo" [icon]="faCrown" [style.color]="'orange'" size="lg"></fa-icon>
        </div>
      </div>
      <div class="menu-list text-center">
        <ul class="pt-2">
          <ng-container *ngFor="let a of menu; let i = index">
            <li *ngIf="!a?.disable" copilot
                [copilot-template]="a?.copilotTemplate"
                [copilot-step]="a?.copilot"
                class="p-1"
                [routerLink]="a.route" placement="right"
                [tooltip]="tolTemplate"
                copilot-class="animate__animated animate__fadeInDown"
                [adaptivePosition]="false"
                containerClass="customClass">
              <ng-template #tolTemplate>{{a?.name | translate}}</ng-template>
              <div class="p-2  icon-wrapper ">
                <div class="p-1 sub-wrapper" [routerLinkActive]="['active']">
                  <fa-icon class="icon" [icon]="a.icon"></fa-icon>
                </div>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <hr>
    <div class="footer mb-3">
      <div (click)="open()" class="text-center p-2 wrapper-avatar">
        <img class="avatar" *ngIf="currentUser?.avatar"
             [src]="currentUser?.avatar"
             alt="">
        <img class="avatar" *ngIf="!currentUser?.avatar"
             [src]="'../../../assets/avatars/' | randomAvatar"
             alt="">
      </div>
      <div class="text-center pt-2">
        <button type="button" (click)="logOut()" class="btn btn-icon">
          <fa-icon class="" [icon]="faSignOutAlt"></fa-icon>
        </button>
      </div>
    </div>

  </div>

</div>

<!--- ********************** COPILOT ************************** --->
<ng-template #step1>
  <div class="copilot-custom p-3 col-sm-4 col-md-6 offset-sm-0 offset-md-3 col-xl-4 offset-xl-4 ">
    <h4>{{'COPILOT.STEP_OVERVIEW.TITLE' |translate}}</h4>
    <p>{{'COPILOT.STEP_OVERVIEW.TEXT' |translate}}</p>
    <div class="w-100 copilot-img text-center pb-4">
      <img src="../../../assets/images/undraw_Data_points_re_vkpq.svg" alt="">
    </div>
    <!--    <hr class="row">-->
    <div class="footer-btn d-flex justify-content-between w-100">
      <div class="d-flex">
        <button class="btn btn-default mr-2" (click)="skipAndPlay()"
                type="button">{{'COPILOT.SKIP_VIDEO' |translate}}</button>
        <button class="btn btn-default" (click)="sideBarService.done()"
                type="button">{{'COPILOT.SKIP' |translate}}</button>
      </div>
      <button class="btn btn-primary" (click)="sideBarService.nextStep(2)"
              type="button">{{'COPILOT.OK' |translate}}</button>
    </div>
  </div>
</ng-template>

<ng-template #step2>
  <div class="copilot-custom p-3 col-sm-4 col-md-6 offset-sm-0 offset-md-3 col-xl-4 offset-xl-4 ">
    <h4>{{'COPILOT.STEP_PURCHASES.TITLE' |translate}}</h4>
    <p>{{'COPILOT.STEP_PURCHASES.TEXT' |translate}}</p>
    <div class="w-100 copilot-img text-center pb-4">
      <img src="../../../assets/images/undraw_online_transactions_02ka.svg" alt="">
    </div>
    <!--    <hr class="row">-->
    <div class="footer-btn d-flex justify-content-between w-100">
      <button class="btn btn-default" (click)="sideBarService.done()"
              type="button">{{'COPILOT.SKIP' |translate}}</button>
      <button class="btn btn-primary" (click)="sideBarService.nextStep(3)"
              type="button">{{'COPILOT.OK' |translate}}</button>
    </div>
  </div>
</ng-template>

<ng-template #step3>
  <div class="copilot-custom p-3 col-sm-4 col-md-6 offset-sm-0 offset-md-3 col-xl-4 offset-xl-4 ">
    <h4>{{'COPILOT.STEP_CALENDAR.TITLE' |translate}}</h4>
    <p>{{'COPILOT.STEP_CALENDAR.TEXT' |translate}}</p>
    <div class="w-100 copilot-img text-center pb-4">
      <img src="../../../assets/images/undraw_Booking_re_gw4j.svg" alt="">
    </div>
    <!--    <hr class="row">-->
    <div class="footer-btn d-flex justify-content-between w-100">
      <button class="btn btn-default" (click)="sideBarService.done()"
              type="button">{{'COPILOT.SKIP' |translate}}</button>
      <button class="btn btn-primary" (click)="sideBarService.nextStep(4)"
              type="button">{{'COPILOT.OK' |translate}}</button>
    </div>
  </div>
</ng-template>

<ng-template #step4>
  <div class="copilot-custom p-3 col-sm-4 col-md-6 offset-sm-0 offset-md-3 col-xl-4 offset-xl-4 ">
    <h4>{{'COPILOT.STEP_PRODUCTS.TITLE' |translate}}</h4>
    <p>{{'COPILOT.STEP_PRODUCTS.TEXT' |translate}}</p>
    <div class="w-100 copilot-img text-center pb-4">
      <img src="../../../assets/images/undraw_product_photography_91i2.svg" alt="">
    </div>
    <!--    <hr class="row">-->
    <div class="footer-btn d-flex justify-content-between w-100">
      <button class="btn btn-default" (click)="sideBarService.done()"
              type="button">{{'COPILOT.SKIP' |translate}}</button>
      <button class="btn btn-primary" (click)="sideBarService.nextStep(5)"
              type="button">{{'COPILOT.OK' |translate}}</button>
    </div>
  </div>
</ng-template>

<ng-template #step5>
  <div class="copilot-custom p-3 col-sm-4 col-md-6 offset-sm-0 offset-md-3 col-xl-4 offset-xl-4 ">
    <h4>{{'COPILOT.STEP_ORDERS.TITLE' |translate}}</h4>
    <p>{{'COPILOT.STEP_ORDERS.TEXT' |translate}}</p>
    <div class="w-100 copilot-img text-center pb-4">
      <img src="../../../assets/images/undraw_Savings_re_eq4w.svg" alt="">
    </div>
    <!--    <hr class="row">-->
    <div class="footer-btn d-flex justify-content-between w-100">
      <button class="btn btn-default" (click)="sideBarService.done()"
              type="button">{{'COPILOT.SKIP' |translate}}</button>
      <button class="btn btn-primary" (click)="sideBarService.nextStep(6)"
              type="button">{{'COPILOT.OK' |translate}}</button>
    </div>
  </div>
</ng-template>


<ng-template #step6>
  <div class="copilot-custom p-3 col-sm-4 col-md-6 offset-sm-0 offset-md-3 col-xl-4 offset-xl-4 ">
    <h4>{{'COPILOT.STEP_USERS.TITLE' |translate}}</h4>
    <p>{{'COPILOT.STEP_USERS.TEXT' |translate}}</p>
    <div class="w-100 copilot-img text-center pb-4">
      <img src="../../../assets/images/undraw_subscriptions_1xdv.svg" alt="">
    </div>
    <!--    <hr class="row">-->
    <div class="footer-btn d-flex justify-content-between w-100">
      <button class="btn btn-default" (click)="sideBarService.done()"
              type="button">{{'COPILOT.SKIP' |translate}}</button>
      <button class="btn btn-primary" (click)="sideBarService.nextStep(7)"
              type="button">{{'COPILOT.OK' |translate}}</button>
    </div>
  </div>
</ng-template>

<ng-template #step7>
  <div class="copilot-custom p-3 col-sm-4 col-md-6 offset-sm-0 offset-md-3 col-xl-4 offset-xl-4 ">
    <h4>{{'COPILOT.STEP_INVENTORIES.TITLE' |translate}}</h4>
    <p>{{'COPILOT.STEP_INVENTORIES.TEXT' |translate}}</p>
    <div class="w-100 copilot-img text-center pb-4">
      <img src="../../../assets/images/undraw_empty_cart_co35.svg" alt="">
    </div>
    <!--    <hr class="row">-->
    <div class="footer-btn d-flex justify-content-between w-100">
      <button class="btn btn-default" (click)="sideBarService.done()"
              type="button">{{'COPILOT.SKIP' |translate}}</button>
      <button class="btn btn-primary" (click)="sideBarService.nextStep(8)"
              type="button">{{'COPILOT.OK' |translate}}</button>
    </div>
  </div>
</ng-template>

<ng-template #step8>
  <div class="copilot-custom p-3 col-sm-4 col-md-6 offset-sm-0 offset-md-3 col-xl-4 offset-xl-4 ">
    <h4>{{'COPILOT.STEP_DEPOSITS.TITLE' |translate}}</h4>
    <p>{{'COPILOT.STEP_DEPOSITS.TEXT' |translate}}</p>
    <div class="w-100 copilot-img text-center pb-4">
      <img src="../../../assets/images/undraw_best_place_r685.svg" alt="">
    </div>
    <!--    <hr class="row">-->
    <div class="footer-btn d-flex justify-content-between w-100">
      <button class="btn btn-default" (click)="sideBarService.done()"
              type="button">{{'COPILOT.SKIP' |translate}}</button>
      <button class="btn btn-primary" (click)="sideBarService.nextStep(9)"
              type="button">{{'COPILOT.OK' |translate}}</button>
    </div>
  </div>
</ng-template>

<ng-template #step9>
  <div class="copilot-custom p-3 col-sm-4 col-md-6 offset-sm-0 offset-md-3 col-xl-4 offset-xl-4 ">
    <h4>{{'COPILOT.STEP_PROVIDERS.TITLE' |translate}}</h4>
    <p>{{'COPILOT.STEP_PROVIDERS.TEXT' |translate}}</p>
    <div class="w-100 copilot-img text-center pb-4">
      <img src="../../../assets/images/undraw_interaction_design_odgc.svg" alt="">
    </div>
    <!--    <hr class="row">-->
    <div class="footer-btn d-flex justify-content-between w-100">
      <button class="btn btn-default" (click)="sideBarService.done()"
              type="button">{{'COPILOT.SKIP' |translate}}</button>
      <button class="btn btn-primary" (click)="sideBarService.nextStep(11)"
              type="button">{{'COPILOT.OK' |translate}}</button>
    </div>
  </div>
</ng-template>

<ng-template #step10>
  <div class="copilot-custom p-3 col-sm-4 col-md-6 offset-sm-0 offset-md-3 col-xl-4 offset-xl-4 ">
    <h4>{{'COPILOT.STEP_PLUGINS.TITLE' |translate}}</h4>
    <p>{{'COPILOT.STEP_PLUGINS.TEXT' |translate}}</p>
    <div class="w-100 copilot-img text-center pb-4">
      <img src="../../../assets/images/undraw_new_entries_nh3h.svg" alt="">
    </div>
    <!--    <hr class="row">-->
    <div class="footer-btn d-flex justify-content-between w-100">
      <button class="btn btn-default" (click)="sideBarService.done()"
              type="button">{{'COPILOT.SKIP' |translate}}</button>
      <button class="btn btn-primary" (click)="sideBarService.nextStep(11)"
              type="button">{{'COPILOT.OK' |translate}}</button>
    </div>
  </div>
</ng-template>

<ng-template #step11>
  <div class="copilot-custom p-3 col-sm-4 col-md-6 offset-sm-0 offset-md-3 col-xl-4 offset-xl-4 ">
    <h4>{{'COPILOT.STEP_DUMMY.TITLE' |translate}}</h4>
    <p>{{'COPILOT.STEP_DUMMY.TEXT' |translate}}</p>
    <div class="w-100 copilot-img text-center pb-4">
      <img src="../../../assets/images/undraw_robotics_kep0.svg" alt="">
    </div>
    <!--    <hr class="row">-->
    <div class="footer-btn d-flex justify-content-between w-100">
      <button class="btn btn-default" (click)="sideBarService.done()"
              type="button">{{'COPILOT.SKIP' |translate}}</button>
      <button class="btn btn-primary" ngxLoading [textInitial]="'COPILOT.IMPORT_DUMMY' |translate"
              [textLoading]="'COPILOT.LOADING_SINGLE' |translate" [loadingFlag]="loading"
              (click)="sideBarService.loadDummy()"
              type="button"></button>
    </div>
  </div>
</ng-template>

