<div class="d-block w-100" >
  <div class="small">{{title}}</div>
  <canvas baseChart [height]="350"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
  </canvas>
</div>
