<div class="wrapper" *ngIf="expired<1" >
  <div class="w-100 d-flex justify-content-between align-content-center align-items-center">
    <div [innerHTML]="'PLAN.EXPIRED_PLAN' |translate"></div>
    <div>
      <button [routerLink]="['/','settings','4']"
              class="btn btn-default btn-sm font-weight-bold">{{'PLAN.UPDATE_PLAN' |translate}}</button>
    </div>
  </div>
</div>
