<form (submit)="submit()" class="row ml-0 mr-0 col-12 pl-0 pr-0" [formGroup]="form">
  <div class="col-4 pl-0 d-none d-md-none d-lg-block d-xl-block">
    <ngx-codemirror
      formControlName="html"
      [options]="{lineNumbers: true, theme: 'material',mode: 'markdown' }"></ngx-codemirror>
  </div>
  <div class="col-8 pl-0">
    <div class="text-right w-100 p-2">
      <div class="alert alert-warning">
        Encuentra más información sobre como crear tu plantilla personalizada
        <a target="_blank" href="https://help.kitagil.com/kb/kitagil-plugin-pdf-reporte">aquí</a>
      </div>
      <button class="btn btn-primary hvr-grow  btn-sm btn-radius">{{'GENERAL.SAVE'|translate}}</button>
    </div>
    <div class="p-4">
      <div class="template-html-report pl-2 pr-2" [innerHTML]="form.value.html | templateHelper"></div>
    </div>
  </div>
</form>

<!--<div class="h-100">-->
<!--    <button (click)="exportHtml()">Export</button>-->
<!--    <email-editor-->
<!--      [options]="options"-->
<!--      (loaded)="editorLoaded($event)"-->
<!--      #editor-->
<!--    ></email-editor>-->

<!--  <textarea [value]="html"></textarea>-->
<!--</div>-->
