<app-header [history]="history"></app-header>
<app-navbar></app-navbar>
<app-side-bar></app-side-bar>

<div class="container-row d-flex">
  <app-purchase-form
    *ngIf="!id"
    class="col-12 row m-0 pl-1 pr-1"
  ></app-purchase-form>
  <div *ngIf="id && id !== 'add'" class="w-100 pr-3 ml-1 container-wrapper">
    <div class="text-right w-100">
      <app-section-btn
        (cbList)="cbList()"
        [options]="[
          'list',
          'add_purchase',
          'trash',
          id?.length ? 'convert' : '',
          'save',
          'plugin.stripe',
          'plugin.pdfReport'
        ]"
        (cbPdf)="cbPdf(id)"
        (cbAdd)="cbAdd($event)"
        (cbSave)="save()"
        (cbPay)="cbPay(id)"
        (cbTrash)="cbTrash($event)"
        (cbConvert)="cbConvert($event)"
        [valid]="true"
      ></app-section-btn>
    </div>
    <app-detail-invoice class="col-12 pl-2"></app-detail-invoice>
  </div>
</div>
