

.form-group label {
  font-size: var(--font-size-2);;
  font-weight: 600;
}

.form-group small{
  color: gray;
}

.form-group {
  margin-bottom: 0;
}

.form-product .label {
  font-size: var(--font-size-2);;
}

.form-product .name {
  font-size: 1rem;
}
