.close-icon {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  padding: 1rem;
  /*cursor: pointer;*/

}

/*.close-icon:hover {*/
/*  transform: scale(1.1);*/
/*  -webkit-transition: all 100ms;*/
/*  -moz-transition: all 100ms;*/
/*  -o-transition: all 100ms;*/
/*  transition: all 100ms;*/
/*}*/
