<ng-container *ngTemplateOutlet="loadingAll;context:{loading:loading}"></ng-container>
<div class="header d-flex justify-content-between w-100 mr-1 ml-1">
  <div class="col-3 col-sm-6 col-lg-3 col-xl-3 col-md-3 pl-0 pr-0">
    <input class="form-control"
           [placeholder]="'ANALYTICS.DATE_RANGE' | translate"
           [(bsValue)]="rangeDate"
           spellcheck="false"
           [disabled]="rangeDateDisable"
           #dateRangePicker="bsDaterangepicker"
           (bsValueChange)="selectRangeSelect($event,'calendar')"
           bsDaterangepicker
           [bsConfig]="{ rangeInputFormat : 'DD, MMM YYYY', dateInputFormat: 'YYYY-MM-DD' , adaptivePosition:false}">
  </div>
  <div class="col-3 col-sm-6 col-lg-3 col-xl-3 col-md-3 pl-0 pr-0">
    <ng-select [items]="rangesTime"
               bindLabel="name"
               [clearable]="false"
               [(ngModel)]="selectRangeSelectValue"
               [searchable]="false"
               (change)="selectRangeSelect($event,'select')">
    </ng-select>
  </div>
</div>
<app-list-items
  (cbAdd)="goTo()"
  [(data)]="data"
  [mode]="null"
  [search]="false"
  [options]="['']"
  [customTemplate]="customTemplateSrc"
  (cbSrc)="onSrc($event)"
  class="col-12 row m-0 pl-1 pr-1">
</app-list-items>

<ng-container *ngTemplateOutlet="templateEmpty;context:{data:dataTake}"></ng-container>
<!-- ***************** TEMPLATE ************** -->
<ng-template #customTemplateSrc let-dat='dat'>
  <ul>
    <li *ngFor="let inside of dat | async; let i = index" (click)="showChart(i)"
        class="row ml-0 mr-0 col-12 pl-0 pr-0 ">
      <div class="d-flex col-sm-10 col-8 pr-0 pl-2">
        <div class="d-none d-md-block pt-2 pb-2">
          <ngx-avatar cornerRadius="5" [round]="false" size="35" *ngIf="inside?.author?.name"
                      [name]="inside?.author?.name"></ngx-avatar>
        </div>
        <div class="pl-2 pr-2 pt-1 pb-1">
          <div class="d-flex">
            <div class="name mr-2 font-weight-bold">{{inside?.author?.name}} {{inside?.author?.lastName}}</div>
            <span class="badge-tag badge mr-1" *ngFor="let tag of inside?.tag">
              {{(tag?.name) ? tag?.name : tag}}
            </span>
          </div>
          <div class="d-flex pt-1">
            <span class="">
              {{currencySymbol}} {{inside?.purchasesGroup?.total | number:'1.2-2'}} {{currency}}
            </span>
          </div>
        </div>
      </div>
      <div class=" d-flex col-sm-2 col-4 pr-0 pl-0  align-items-center">
        <div class="text-right w-100">
          <div>
            <b class="price-main">{{inside?.manager?.name}} {{inside?.manager?.lastName}}</b>
          </div>
          <div>
            <!--          <span class="text-muted">-->
            <!--            <span class="pr-1">-->
            <!--                <fa-icon [icon]="faPhoneAlt"></fa-icon>-->
            <!--              </span>-->
            <!--            {{inside?.phone}}-->
            <!--          </span>-->
          </div>
        </div>
        <div class="pl-2 pr-2">
          <!--          <button-->
          <!--            [tooltip]="'DEPOSITS.VIEW_PRODUCTS' |translate" containerClass="customToolTip"-->
          <!--            type="button" class="btn btn-default btn-radius btn-sm">-->
          <!--            <fa-icon [icon]="faBox"></fa-icon>-->
          <!--          </button>-->

          <!--          <div class="ml-2" *ngIf="share.checkPlugins('pdfReport')">-->
          <!--         Filter-->
          <!--          </div>-->
        </div>
      </div>
      <div class="d-flex w-100 col-12 pl-0 pr-0">
        <ng-container *ngTemplateOutlet="tableZone;context:{data:inside}"></ng-container>
      </div>
    </li>
  </ul>
</ng-template>

<ng-template #templateEmpty let-data="data">
  <ng-container *ngIf="!loading">
    <app-box-empty *ngIf="!data?.length"></app-box-empty>
  </ng-container>
</ng-template>

<!-- ***************** TEMPLATE CHART ************** -->
<ng-template #chartZone let-data="data">
  <app-chart-bar [data]="data?.purchasesGroup?.purchases" *ngIf="data?.show"></app-chart-bar>
  <app-chart-bar [data]="data?.purchasesGroup?.purchases" *ngIf="data?.show"></app-chart-bar>
</ng-template>

<!-- ***************** TEMPLATE TABLE ************** -->
<ng-template #tableZone let-data="data">
  <table *ngIf="data?.show" mat-table [dataSource]="data?.purchasesGroup?.purchases"
         class="mat-elevation-z8 w-100">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell [width]="'15%'" *matHeaderCellDef>{{'PURCHASE.DATE' |translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element?.createdAt | date}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell [width]="'50%'" *matHeaderCellDef>{{'PURCHASE.CUSTOMER' |translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element?.customer?.name}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell [width]="'15%'" *matHeaderCellDef>{{'PURCHASE.TOTAL' |translate}}</th>
      <td mat-cell *matCellDef="let element">{{currencySymbol}} {{element?.total | number:'1.2-2'}} {{currency}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="convert">
      <th mat-header-cell [width]="'20%'" *matHeaderCellDef>{{'PURCHASE.TAB' |translate}}</th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex justify-content-between w-100">
          <div>{{'PURCHASE.LABELS_PURCHASES.' + element?.convert |translate}}</div>
          <div>
            <button class="btn btn-default btn-sm" [routerLink]="['/','purchase',element?._id]">
              <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
            </button>
          </div>
        </div>

      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</ng-template>


<!-- ***************** FIN TEMPLATE ************** -->
<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img [width]="'5rem'" src="../../../../../assets/images/loading-svg.svg" alt="">
    </div>
  </div>
</ng-template>
