<app-header></app-header>
<app-navbar></app-navbar>
<app-side-bar></app-side-bar>
<div class="container-row d-flex">
  <ng-container *ngTemplateOutlet="loadingAll; context: { loading: loading }"></ng-container>
  <ng-container *ngIf="!loading">
    <app-list-purchases [data]="dataResponse?.one?.rxjs" [dataTake]="dataResponse?.one?.tap" [title]="'Pedidos'"
      [mode]="'home'" [limit]="10" *ngIf="share.checkRole(['seller', 'admin', 'manager'])" [viewMore]="false"
      class="col-md-6 col-sm-12 col-lg-6 col-xl-4 row m-0 pl-0 pr-0">
    </app-list-purchases>

    <app-list-products [data]="dataResponse?.two?.rxjs" [dataTake]="dataResponse?.two?.tap" [title]="'Productos'"
      [mode]="'home'" [limit]="10" *ngIf="share.checkRole(['admin', 'manager', 'seller'])" [viewMore]="false"
      class="col-md-6 col-sm-12 col-lg-6 col-xl-4 row m-0 pl-0 pr-0">
    </app-list-products>

    <app-list-inventory [data]="dataResponse?.three?.rxjs" [dataTake]="dataResponse?.three?.tap" [title]="'Movimientos'"
      [mode]="'home'" [limit]="10" *ngIf="share.checkRole(['admin', 'manager'])" [viewMore]="false"
      class="col-md-6 col-sm-12 col-lg-6 col-xl-4 row m-0 pl-0 pr-0">
    </app-list-inventory>
  </ng-container>
</div>
<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img [width]="'5rem'" src="../../../../../assets/images/loading-svg.svg" alt="" />
    </div>
  </div>
</ng-template>
