<form (submit)="onSubmit()" [autocomplete]="'nope'" class="form-product w-100 flex-wrap d-flex" [formGroup]="form">
  <!--{{shared.findInvalidControls(form) | json}}-->
  <div class="col-12 p-0 flex-wrap d-flex">
    <div class="text-right w-100">
      <app-section-btn [options]="['list','save',(id?.length) ? 'trash' : '']"
                       (cbTrash)="cbTrash()"
                       (cbList)="cbList()" [valid]="form.valid"></app-section-btn>
    </div>
    <div class="custom-card-style col-12 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"USER.NAME" |translate}}</label>
            <input [autocomplete]="'nope'" type="text" formControlName="name"
                   class="form-control"
                   placeholder=""></div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"USER.LAST_NAME" |translate}}</label>
            <input [autocomplete]="'nope'" type="text" formControlName="lastName"
                   class="form-control"
                   placeholder=""></div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"USER.NAME_BUSINESS" |translate}}</label>
            <input [autocomplete]="'nope'" type="text" formControlName="nameBusiness"
                   class="form-control"
                   placeholder=""></div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"USER.EMAIL" |translate}}</label>
            <input [autocomplete]="'nope'" type="text" formControlName="email"
                   class="form-control"
                   placeholder=""></div>
        </div>
      </div>
    </div>

    <!--    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">-->
    <!--      <div class="col-12 p-0">-->
    <!--        <div class="name">-->
    <!--          <div class="form-group">-->
    <!--            <label>{{"USER.PASSWORD" |translate}}</label>-->
    <!--            <input type="text" formControlName="password"-->
    <!--                   class="form-control"-->
    <!--                   placeholder=""></div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"USER.ADDRESS" |translate}}</label>
            <input [autocomplete]="'nope'" type="text" formControlName="address"
                   class="form-control"
                   placeholder=""></div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"USER.NIE" |translate}}</label>
            <input [autocomplete]="'nope'" type="text" formControlName="nie"
                   class="form-control"
                   placeholder=""></div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"USER.PHONE" |translate}}</label>
            <input [autocomplete]="'nope'" type="text" formControlName="phone"
                   class="form-control"
                   placeholder=""></div>
        </div>
      </div>
    </div>

    <div [ngClass]="{'invisible p-0 h-0':(mode === 'modal'),'d-flex':(mode !== 'modal')}"
         class="custom-card-style col-12 mt-2 flex-wrap">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"USER.ROL" |translate}}</label>
            <!--            <input type="text" formControlName="role"-->
            <!--                   class="form-control" aria-describedby="emailHelp"-->
            <!--                   placeholder=""></div>-->
            <ng-select formControlName="role" [items]="roles"
                       bindLabel="name"
                       bindValue="value"
                       placeholder="">
            </ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2">
      <div class="form-group">
        <label>{{ "PRODUCT.TAG" | translate }}</label>
        <tag-input
          class="chip-price"
          [addOnBlur]="true"
          formControlName="tag"
          [modelAsStrings]="true"
        ></tag-input>
      </div>
    </div>
  </div>

  <!---************************* FOOTER BTN ************************-->
  <div class="footer-options d-flex justify-content-end">
    <div class="d-flex">

      <button  type="button" [routerLink]="['/','purchase']" class="btn btn-default btn-default ml-2">{{'GENERAL.CANCEL' |translate}}</button>
      <button type="submit" class="btn btn-default bg-success btn-success ml-2"
              ngxLoading [disabled]="!form.valid" [loadingFlag]="loading" [textInitial]="'GENERAL.SAVE' | translate"
              [textLoading]="'GENERAL.LOADING' | translate">
        <span>
          <fa-icon [icon]="faSave"></fa-icon>
        </span>
        {{'GENERAL.SAVE' |translate}}</button>
    </div>
  </div>
</form>
