<div class="row ml-0 mr-0 col-12 p-0">
  <div class="col-4 p-3 bg-white">
    <form [formGroup]="form" (submit)="onSubmit()">
      <div *ngIf="data" class="text-success font-weight-bold mb-2">
        🔑 Claves asignadas correctamente, si deseas actualizar tus claves puedes hacerlo. Por seguridad tus claves no
        son reveladas
      </div>
      <div class="form-group">
        <label>ID cliente</label>
        <input type="text" class="form-control"
               formControlName="clientID"
               placeholder="">
        <small class="form-text text-muted">Ingresa tu client id <b>(clientID), </b> <a
          href="https://help.kitagil.com/kb/kitagil-plugin-paypal" target="_blank">¿Como obtener mi
          clave?</a></small>
      </div>
      <div class="form-group mt-4">
        <label>ID secreto</label>
        <input type="password" class="form-control"
               formControlName="secretID"
               placeholder="">
        <small class="form-text text-muted">Ingresa tu clave secreta <b>(secretID), </b> <a
          href="https://help.kitagil.com/kb/kitagil-plugin-paypal" target="_blank">¿Como obtener mi
          clave?</a></small>
      </div>
      <div class="form-group mt-4">
        <label>Modo</label>
        <select class="form-control" formControlName="mode" name="" id="">
          <option value="sandbox">Test</option>
          <option value="live">Live</option>
        </select>

      </div>

      <div class="mt-4" *ngIf="!data?.validCurrency">
        Las divisas soportadas son las siguientes: <b>USD, EUR, MXN</b> <br>
        Puedes cambiar la configuración de tu sistema haciendo click en <b>tu perfil</b>
      </div>
      <hr>
      <button
        [disabled]="!form.valid"
        type="submit"
        class="btn btn-primary hvr-grow   btn-radius">Guardar
      </button>
    </form>
  </div>
  <div class="col-8">
    <!--    Lorem ipsum dolor.-->

  </div>
</div>
