<form (submit)="onSubmit()" class="form-product w-100 flex-wrap d-flex" [formGroup]="form">
  <div class="col-12 p-0 flex-wrap d-flex">
    <div class="text-right w-100">
      <app-section-btn (cbList)="cbList()" [options]="['list','save',(id?.length) ? 'trash' : '']" [valid]="form.valid">
      </app-section-btn>
    </div>
    <!--    {{shared.findInvalidControls(form) |json}}-->
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex" *ngIf="!shortMode">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "INVENTORY.PRODUCT" | translate }}</label>
            <ng-select formControlName="product" spellcheck="false" #selectProductRef
                       (close)="selectProductRef.blur(); selectProductRef.focus()" [items]="products" bindLabel="name"
                       (search)="srcProduct($event)" (change)="selectProduct($event)" [required]="true"
                       [notFoundText]="'INVENTORY.SEARCH_PRODUCT' | translate" placeholder="">
              <ng-template *ngIf="(products | checkArray)?.check" ng-notfound-tmp let-searchTerm="searchTerm">
                <div class="ng-option disabled">
                  <div>
                    <button class="btn btn-sm btn-default" [routerLink]="['/', 'products', 'add']" type="button">
                      {{'GENERAL.ADD' | translate}}: <b>{{searchTerm}}</b>
                    </button>
                  </div>
                </div>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="card-list d-flex">
                  <div class="p-1">
                    <ngx-avatar cornerRadius="5" [round]="false" class="d-none d-md-block img-50" [className]="'img-50'" [name]="item?.name"
                                *ngIf="!(item?.gallery | firstImage:'small')">
                    </ngx-avatar>
                    <ngx-avatar cornerRadius="5" [round]="false" class="d-none d-md-block img-50" [className]="'img-50'"
                                [src]="item?.gallery | firstImage:'small'"
                                *ngIf="(item?.gallery | firstImage:'small')">
                    </ngx-avatar>
                  </div>
                  <div class="p-1">
                    <div>{{ item?.name }}</div>
                    <div class="font-weight-normal text-muted">
                      <span *ngFor="let tag of item?.tag">
                        <span class="badge badge-tag">{{ tag?.name }}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "INVENTORY.PROVIDER" | translate }}</label>
            <ng-select formControlName="provider" spellcheck="false" [items]="providers" bindLabel="name"
                       (close)="selectProviderInput.blur(); selectProviderInput.focus()" #selectProviderInput
                       (search)="src($event, 'providers', 'providers')"
                       [notFoundText]="'PROVIDER.SEARCH_PRODUCT' | translate"
                       (change)="selectProvider($event)" [required]="true" placeholder="">
              <ng-template *ngIf="(providers | checkArray)?.check" ng-notfound-tmp let-searchTerm="searchTerm">
                <div class="ng-option disabled">
                  <div>
                    <button class="btn btn-sm btn-default" [routerLink]="['/', 'providers', 'add']" type="button">
                      {{'GENERAL.ADD' | translate}}: <b>{{searchTerm}}</b>
                    </button>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "INVENTORY.QTY" | translate }}</label>

            <div class="input-group">
              <input type="number" formControlName="qty" class="form-control" placeholder=""/>
              <div class="input-group-append ml-1">

                <button (click)="openBarCode()" [disabled]="!(form?.value?.qty>0)"
                        class="btn btn-default btn-radius btn-sm" type="button">
                  <fa-icon [icon]="faQrcode"></fa-icon>
                </button>
              </div>
            </div>
            <small *ngIf="form?.value?.serials?.length" class=" text-primary pl-2" [translate]="'ORDERS.SELECT_SERIALS'"
                   [translateParams]="{num: form?.value?.serials?.length}">
            </small>
          </div>

        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "INVENTORY.PRICE_BASE" | translate }}</label>
            <input currencyMask (focus)="onFocus($event)" class="form-control" #valueInput [(ngModel)]="priceTmp"
                   [ngModelOptions]="{ standalone: true }" [options]="ngxCurrencyOptions"/>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex" *ngIf="!shortMode">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "INVENTORY.DEPOSIT" | translate }}</label>
            <ng-select formControlName="deposit" [items]="deposits" bindLabel="name" #selectDepositInput
                       (search)="src($event, 'deposits', 'deposits')"
                       [notFoundText]="'DEPOSITS.SEARCH_PRODUCT' | translate"
                       (change)="selectDeposit($event)" [required]="true" placeholder="">
              <ng-template *ngIf="(deposits | checkArray)?.check" ng-notfound-tmp let-searchTerm="searchTerm">
                <div class="ng-option disabled">
                  <div>
                    <button class="btn btn-sm btn-default" [routerLink]="['/', 'deposits', 'add']" type="button">
                      {{'GENERAL.ADD' | translate}}: <b>{{searchTerm}}</b>
                    </button>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="form-group w-100">
        <label>{{ "INVENTORY.TAG" | translate }}</label>
        <tag-input class="chip-price" [addOnBlur]="true" formControlName="tag" [modelAsStrings]="true"></tag-input>
      </div>
    </div>
  </div>
  <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
    <div class="col-12 p-0">
      <div class="name">
        <div class="form-group">
          <label>{{ "INVENTORY.DESCRIPTION" | translate }}</label>
          <textarea formControlName="description" class="form-control" placeholder="">
          </textarea>
        </div>
      </div>
    </div>
  </div>

  <!---************************* FOOTER BTN ************************-->
  <div class="footer-options d-flex justify-content-end">
    <div class="d-flex">

      <button  type="button" [routerLink]="['/','purchase']" class="btn btn-default btn-default ml-2">{{'GENERAL.CANCEL' |translate}}</button>
      <button type="submit" class="btn btn-default bg-success btn-success ml-2"
              ngxLoading [disabled]="!form.valid" [loadingFlag]="loading" [textInitial]="'GENERAL.SAVE' | translate"
              [textLoading]="'GENERAL.LOADING' | translate">
        <span>
          <fa-icon [icon]="faSave"></fa-icon>
        </span>
        {{'GENERAL.SAVE' |translate}}</button>
    </div>
  </div>
</form>
