<app-header [history]="history"></app-header>
<app-side-bar></app-side-bar>

<div class="container-row d-flex flex-column">
  <div class="w-100">
    <template #settingContainer>
    </template>
  </div>
</div>
