<form (submit)="onSubmit()" class="form-product w-100 flex-wrap d-flex" [formGroup]="form">
  <ng-container *ngTemplateOutlet="loadingAll;context:{loading:loading}"></ng-container>
  <div class="col-12 p-0 flex-wrap d-flex">
    <div class="text-right w-100">
      <app-section-btn (cbList)="cbList()" [options]="['list','save',(id?.length) ? 'trash' : '']" (cbTrash)="cbTrash()"
                       [valid]="form.valid"></app-section-btn>
    </div>


    <!-- STRIPE --->
    <ng-container appCheckPlugin [namePlugin]="'stripe'">
      <div class="custom-card-style col-12 flex-wrap d-flex mb-2 alert alert-warning"
           *ngIf="data?.platform === 'stripe'">
        <div class="col-12 p-0">
          <div [innerHTML]="kitAgilStripeService.getLink(data)"></div>
        </div>
      </div>
    </ng-container>

    <!-- PAYPAL -->
    <ng-container appCheckPlugin [namePlugin]="'stripe'">
      <div class="custom-card-style col-12 flex-wrap d-flex mb-2 alert alert-warning"
           *ngIf="data?.platform === 'paypal'">
        <div class="col-12 p-0">
          <div [innerHTML]="kitAgilPaypalService.getLink(data)"></div>
        </div>
      </div>
    </ng-container>

    <ng-container>
      <div *ngIf="dataIn?.orders?.length" class="custom-card-style col-12 flex-wrap d-flex mb-2 alert alert-warning">
        <div class="col-12 p-0">
          <div [innerHTML]="kitAgilStripeService.moreOnceOrder(dataIn._id)"></div>
        </div>
      </div>
    </ng-container>

    <div class="custom-card-style col-12  flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "ORDERS.PURCHASE" | translate }}</label>
            <ng-select #selectPurchaseRef [items]="purchase$ | async"
                       formControlName="purchase"
                       bindLabel="name"
                       (close)="selectPurchaseRef.blur(); selectPurchaseRef.focus()"
                       [addTag]="true"
                       [multiple]="false"
                       [hideSelected]="true"
                       [trackByFn]="trackByFn"
                       [minTermLength]="3"
                       [required]="true"
                       (change)="selectUser($event)"
                       [loading]="purchaseLoading"
                       [typeToSearchText]="'PURCHASE.SEARCH_PRODUCT' |translate"
                       [typeahead]="purchaseInput$">
              <ng-template ng-label-tmp let-item="item">
                <span class="">{{item?.customer?.name}} {{item?.customer?.lastName}}</span>
                <span class="font-weight-bold pl-2">{{currencySymbol}} {{item?.total | number:'1.2-2'}} {{currency}}</span>
                <span class="small text-muted pl-2">{{item?.controlNumber}}</span>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="card-list d-flex">
                  <div class="p-1">
                    <div>{{item?.customer?.name}} {{item?.customer?.lastName}}
                      <span class="text-muted small pl-3" *ngIf="item?.createdAt" timeago [date]="item?.createdAt"></span></div>
                    <div class="font-weight-bold">{{currencySymbol}} {{item?.total | number:'1.2-2'}} {{currency}}</div>
                    <div class="small text-muted">{{item?.controlNumber}}</div>
                    <div class="font-weight-normal text-muted">
                      <span *ngFor="let tag of item?.tag">
                        <span class="badge badge-tag">{{tag?.name}}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-select>
            <small class=" text-primary pl-2" [innerHTML]="'ORDERS.PLACEHOLDER_PURCHASE' | translate">
            </small>
          </div>
        </div>
      </div>
    </div>

    <!-- STRIPE --->
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "ORDERS.PLATFORM" | translate }}</label>
            <ng-select formControlName="platform" [items]="methods" bindLabel="name" bindValue="value"
                       (change)="selectPlatform($event)" [required]="true" placeholder="">
            </ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "ORDERS.CUSTOMER" | translate }}</label>
            <ng-select #selectProductRef [items]="results$ | async"
                       formControlName="customer"
                       bindLabel="name"
                       (close)="selectProductRef.blur(); selectProductRef.focus()"
                       [addTag]="true"
                       [multiple]="false"
                       [hideSelected]="true"
                       [trackByFn]="trackByFn"
                       [minTermLength]="3"
                       [required]="true"
                       (change)="selectUser($event)"
                       [loading]="userLoading"
                       [typeToSearchText]="'PURCHASE.SEARCH_PRODUCT' |translate"
                       [typeahead]="userInput$">
              <ng-template ng-label-tmp let-item="item">
                {{item?.name}} {{item?.lastName}} <small><i>{{item?.nameBusiness}}</i></small>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="card-list d-flex">
                  <div class="p-1">
                    <ngx-avatar cornerRadius="5" [round]="false" size="30" [name]="item?.name"></ngx-avatar>
                  </div>
                  <div class="p-1">
                    <div>{{item?.name}} {{item?.lastName}}</div>
                    <small><i>{{item?.nameBusiness}}</i></small>
                    <div class="font-weight-normal text-muted">
                      <span *ngFor="let tag of item?.tag">
                        <span class="badge badge-tag">{{tag?.name}}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "ORDERS.STATUS" | translate }}</label>
            <ng-select formControlName="status" [items]="status" bindLabel="name" bindValue="value" [required]="true"
                       placeholder="">
            </ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "ORDERS.AMOUNT" | translate }}</label>
            <input currencyMask (focus)="onFocus($event)" spellcheck="false" class="form-control text-left"
                   formControlName="amount" #valueInput [options]="ngxCurrencyOptions"/>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "DEPOSITS.DESCRIPTION" | translate }}</label>
            <input type="text" formControlName="description" class="form-control" aria-describedby="emailHelp"
                   placeholder=""/>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="form-group w-100">
        <label>{{ "DEPOSITS.TAG" | translate }}</label>
        <tag-input class="chip-price" [addOnBlur]="true" formControlName="tag" [modelAsStrings]="true"></tag-input>
      </div>
    </div>
  </div>

  <!---************************* FOOTER BTN ************************-->
  <div class="footer-options d-flex justify-content-end">
    <div class="d-flex">

      <button  type="button" [routerLink]="['/','purchase']" class="btn btn-default btn-default ml-2">{{'GENERAL.CANCEL' |translate}}</button>
      <button type="submit" class="btn btn-default bg-success btn-success ml-2"
              ngxLoading [disabled]="!form.valid" [loadingFlag]="loading" [textInitial]="'GENERAL.SAVE' | translate"
              [textLoading]="'GENERAL.LOADING' | translate">
        <span>
          <fa-icon [icon]="faSave"></fa-icon>
        </span>
        {{'GENERAL.SAVE' |translate}}</button>
    </div>
  </div>
</form>

<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img [width]="'5rem'" src="../../../assets/images/loading-svg.svg" alt="">
    </div>
  </div>
</ng-template>
