<div class="col-12 row m-0 p-0">
  <ul class="item-list col-12 d-flex">
    <li class="col-lg-2 pl-0 col-md-4 col-sm-12" (click)="open(item)" *ngFor="let item of data">
      <div class="item-add-on">
        <div class="d-flex justify-content-between">
          <div class="icon-addons">
            <fa-icon [icon]="faPlug" size="2x"></fa-icon>
          </div>
          <div class="p-2">
            <fa-icon class="text-muted" [icon]="faEllipsisV" size="lg"></fa-icon>
          </div>
        </div>
        <div class="pt-3 pr-1 pb-1 pl-1">
          <h6><b>{{item?.name}}</b></h6>
          <p class="description">{{item?.description | stripeHtml}}</p>
        </div>

        <div *ngIf="item?.periodTry">
          <small>{{'PLUGINS.PERIOD_TIME' |translate}} {{item?.periodTry}} {{'PLUGINS.DAYS' |translate}}</small>
        </div>
      </div>
    </li>
  </ul>
</div>
