<!-- <link href='https://unpkg.com/css.gg/icons/all.css' rel='stylesheet'> -->
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<link href='https://unpkg.com/css.gg/icons/all.css' rel='stylesheet'>
<!-------- ********************* HEADER SECTION *********************** ----->
<section style="padding: 30px 20px 15px;font-family: Arial, Helvetica, sans-serif;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 50% ; border-bottom: 2px dotted blue;">
                LOGO AQUI
            </td>
            <td style="width: 10%;">

            </td>
            <td style="width: 40%; border-bottom: 2px dotted blue;">
                <span>Empresa Kitagil</span><br>
                <span>9741 Mohr Vista Apt. 519</span><br>
                <span>Mexico</span><br>
                <!-- <i class="material-icons">email</i><span>contacto@contacto.com</span> -->
                <span>contacto@contacto.com</span><br>
                <span>958-1250557</span><br>
                <span>www.kitagil.com</span><br>
            </td>
        </tr>
    </table>
</section>

<!-------- ********************* SUB-HEADER SECTION *********************** ----->
<section style="padding: 30px 20px 15px;font-family: Arial, Helvetica, sans-serif;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 50% ;">
                <span style="font-size: 18px; font-weight: 600;">Client Name</span><br>
                <span>Address cliente, address</span>           
            </td>
            <td style="width: 10%;">

            </td>
            <td style="width: 40%;">
                <span style="font-weight: 600; letter-spacing: 2px;">INVOICE 190</span><br>
                <span>15/06/2014</span>
            </td>
        </tr>
    </table>
</section>

<!-------- ********************* CELLSTART SECTION *********************** ----->
<!-- ** CellStart **-->
<section style="padding: 20px 20px 10px;font-family: Arial, Helvetica, sans-serif;">
    <table style="width: 100%;  border-bottom: dotted 2px blueviolet; padding-bottom: 20px;">
        <!-- ** HeadStart **-->
        <tr style="font-weight: 600; background-color: #8F3084; border-radius: 100px; color: white;">
            <td style="width:55%;padding: 15px 0px; border-radius: 10px 0px 0px 10px; padding-left: 5px;">Concepto</td>
            <td style="width:15%;padding: 15px 0px;;text-align: center">Cantidad</td>
            <td style="width:15%;padding: 15px 0px;;text-align: center">Importe</td>
            <td style="width:15%;padding: 15px 0px;;text-align: right; padding-right: 5px ; border-radius: 0px 10px 10px 0px;">Total</td>
        </tr>
        <!-- ** HeadEnd **-->
        <!-- ** ItemsStart **-->
        <tr style="font-weight: 600; padding-left: 10px;">
            <td style="padding: 10px 0px;font-size: 14px; padding-left: 15px;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: right; padding-right: 15px;">block</td>
        </tr>
        <tr style="font-weight: 600; padding-left: 10px;">
            <td style="padding: 10px 0px;font-size: 14px; padding-left: 15px;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: right; padding-right: 15px;">block</td>
        </tr>
        <!-- ** ItemsEnd **-->
    </table>
</section>
<!-- ** CellEnd **-->

<!-------- ********************* TOTAL SECTION *********************** ----->
<section style="padding: 5px 20px 10px;font-family: Arial, Helvetica, sans-serif;">
    <table style="width: 100%; border-bottom: dotted 2px blueviolet;">
        <tr style="width: 100%;">
            <td style="width: 60%;"></td>
            <td style="width: 40%; padding-bottom: 15px;">
                <table style="width: 100%; padding-left: 10px; font-weight: 600;">
                    <tr style="font-family: Arial, Helvetica, sans-serif; ">
                        <td style="width: 50%;">Sub-total</td>
                        <td style="width: 50%; text-align: right;">
                            <!-- ** InitSubTotal **--><span>121 EUR</span><!-- ** EndSubTotal **-->
                        </td>
                    </tr>
                    <tr style="font-family: Arial, Helvetica, sans-serif;">
                        <td style="width: 50%;">Iva</td>
                        <td style="width: 50%; text-align: right;">
                            <!-- ** InitTax **--><span>121 EUR</span><!-- ** EndTax **-->
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">Total</td>
                        <td style="width: 50%; text-align: right;">
                            <!-- ** InitTotal **--><span>121 EUR</span><!-- ** EndTotal **-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</section>

<!-------- ********************* FOOTER SECTION *********************** ----->
<section style="padding: 5px 20px 10px;">
    <table style="width: 100%;">
        <tr>
            <td colspan="2" style="padding-top: 20px;">
                <span style="font-family: Arial, Helvetica, sans-serif; font-weight: bolder;">Terminos y condiciones</span><br>
                <p style="color: #a5a5a5;vertical-align: top;font-size: 12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis mollis ultrices. Morbi sagittis lorem eget nulla euismod tempus. Aenean ac mauris libero. Proin mi sem, scelerisque id elementum non, vestibulum quis ligula. Duis feugiat turpis sit amet massa viverra aliquet. Duis quis magna non urna euismod dapibus non eget enim. Phasellus pharetra vulputate tellus, at gravida neque interdum ac. Nam quis aliquet erat, vitae bibendum massa. Etiam feugiat accumsan nisl, non mattis arcu sagittis non. Phasellus quam quam, ultricies sit amet nunc et, cursus fermentum ipsum. Vivamus quis fringilla turpis. Phasellus enim mauris, dictum in lacus non, porta elementum eros. Quisque ut lorem congue, imperdiet lorem nec, sagittis mi. Integer purus turpis, fermentum feugiat aliquam eget, luctus eu ipsum. Donec in purus sed urna condimentum vestibulum. Vivamus pulvinar nulla nunc, non volutpat augue fringilla eget.</p>
            </td>
        </tr>
    </table>
</section>