<link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<!-------- ********************* HEADER SECTION *********************** ----->
<section style="padding: 30px 20px 15px;font-family: Arial, Helvetica, sans-serif;">
    <table style="width: 100%;">
        <td style="width: 50%;">
            <span style="font-family: 'Yellowtail', cursive; font-size: 50px; letter-spacing: 5px;">Kitagil Company</span>
        </td>
        <td style="width: 50%; text-align: right; padding-left: 12px;">
            <!-- <img src="https://picsum.photos/200" alt=""> -->
            <span style="font-family: Arial, Helvetica, sans-serif;">LOGO</span>
        </td>
    </table>
</section>

<!-------- ********************* SUB-HEADER SECTION *********************** ----->
<section style="padding: 5px 20px 15px;">
    <table style="width: 100%;">
        <tr style="width: 100%;">
            <th style="width: 50%; text-align: left;">
                <span style="font-family: Arial, Helvetica; font-size: 20px; letter-spacing: 1px;">INVOICE __INVOICE_NUMBER__</span><br>
                <span style="font-size: 16px; letter-spacing: 1px;">10/Junio/2020</span><br>
            </th>
        </tr>
    </table>
</section>
<style>
    .items-table .item-single{
    padding: 10px 0px;font-size: 14px;
    text-align: center;
    }
    .items-table .item-single:first-child{
    padding: 10px 0px;font-size: 14px;
    text-align: left
    }
    .items-table .item-single:last-child{
    padding: 10px 0px;font-size: 14px;
    text-align: right
    }
    </style>

<!-------- ********************* CELLSTART SECTION *********************** ----->
<!-- ** CellStart **-->
<section class="secure-zone" style="padding: 20px 20px 10px;font-family: Arial, Helvetica, sans-serif;">
    <table style="width: 100%; border-collapse: collapse; border-bottom: solid 2px black;">
        <!-- ** HeadStart **-->
        <tr style="font-weight: 600;">
            <td style="width:55%;padding: 15px 0px;border-bottom: solid 2px black;">DESCRIPTION</td>
            <td style="width:15%;padding: 15px 0px;border-bottom: solid 2px black;text-align: center">QTY</td>
            <td style="width:15%;padding: 15px 0px;border-bottom: solid 2px black;text-align: center">PRICE</td>
            <td style="width:15%;padding: 15px 0px;border-bottom: solid 2px black;text-align: right">TOTAL</td>
        </tr>
        <!-- ** HeadEnd **-->
        <!-- ** ItemsStart **-->
        <tr style="font-weight: 600;">
            <td style="padding: 10px 0px;font-size: 14px;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: right">block</td>
        </tr>
        <tr style="font-weight: 600;">
            <td style="padding: 10px 0px;font-size: 14px;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: right">block</td>
        </tr>
        <!-- ** ItemsEnd **-->
    </table>
</section>
<!-- ** CellEnd **-->

<!-------- ********************* TOTAL SECTION *********************** ----->
<section  style="padding: 5px 20px 10px;font-family: Arial, Helvetica, sans-serif;">
    <table style="width: 100%; border-collapse: collapse; border-bottom: solid 2px black;">
        <tr  style="width: 100%;">
            <td style="width: 60%;"></td>
            <td  style="width: 40%; padding-bottom: 15px;">
                <table style="width: 100%; padding-left: 10px; font-weight: 600;">
                    <tr style="font-family: Arial, Helvetica, sans-serif; ">
                        <td style="width: 50%;">Sub-total</td>
                        <td style="width: 50%; text-align: right;">
                            <!-- ** InitSubTotal **--><span class="secure-amount">121 EUR</span><!-- ** EndSubTotal **-->
                        </td>
                    </tr>
                    <tr style="font-family: Arial, Helvetica, sans-serif;">
                        <td style="width: 50%;">Iva</td>
                        <td style="width: 50%; text-align: right;">
                            <!-- ** InitTax **--><span class="secure-amount">121 EUR</span><!-- ** EndTax **-->
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">Total</td>
                        <td style="width: 50%; text-align: right;">
                            <!-- ** InitTotal **--><span class="secure-amount">121 EUR</span><!-- ** EndTotal **-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</section>

<!-------- ********************* FOOTER SECTION *********************** ----->
<section style="padding: 5px 20px 10px;">
    <table style="width: 100%; margin-top: 35px;">
        <tr style="width: 100%;">
            <td style="width: 50%;">
                <table>
                    <tr>
                        <td style="width: 100%; text-align: left; font-family: Arial, Helvetica, sans-serif;">
                            <span style="font-size: 20px; font-weight: bolder; margin-bottom: 10px;">Payable to</span><br>
                            <span style="font-size: 18px;">__CUSTOMER_NAME__ __CUSTOMER_LAST_NAME__</span><br>
                            <span>__CUSTOMER_ADDRESS__</span><br>
                            <span>__CUSTOMER_PHONE__  __CUSTOMER_EMAIL__</span><br>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%; text-align: left; font-family: Arial, Helvetica, sans-serif; padding-top: 40px;">
                            <span style="font-size: 20px; font-weight: bolder; margin-bottom: 10px; padding-top: 20px;">Contacto</span><br>
                            <span style="font-size: 18px;">Stephanie Chan</span><br>
                            <span>123 Street Town Portal, Contry</span><br>
                            <span>+52 958-135-9856  correo@correo.com</span><br>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 50%; text-align: right; vertical-align: bottom;">
                <span style="font-family: 'Yellowtail', cursive; font-size: 50px; letter-spacing: 5px;">Thank You</span>
            </td>
        </tr>
    </table>
</section>
