
<!-------- ********************* HEADER SECTION *********************** ----->
<section style="padding: 30px 20px 15px;font-family: Arial, Helvetica, sans-serif;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 50% ;">
                <span style="font-weight: 600; font-size: 20px;">Invoice to:</span><br><br>
                <span style="font-weight: 600; font-size: 18px;">Dwyane Clark</span><br>
                <span style="color: darkgray; font-size: 12px;">24 Dummy Street Ana</span><br>
                <span style="color: darkgray; font-size: 12px;">Oaxaca, Mexico</span><br>
            </td>
            <td style="width: 50%; text-align: right;">
                <span style="font-size: 30px; letter-spacing: 2px; font-weight: 600;">INVOICE</span><br><br>
                <span style="margin-top: 20px; font-weight: 600;">Invoice#</span><span style="margin-left: 20px;">52148</span><br>
                <span style="margin-top: 20px; font-weight: 600;">Date</span><span style="margin-left: 20px;">01/02/2020</span><br>
            </td>
        </tr>
    </table>
</section>

<!-------- ********************* CELLSTART SECTION *********************** ----->
<!-- ** CellStart **-->
<section style="padding: 20px 20px 10px;font-family: Arial, Helvetica, sans-serif;">
    <table style="width: 100%; padding-bottom: 20px; border-collapse: collapse;">
        <!-- ** HeadStart **-->
        <tr style="font-weight: 600; background-color: #453A36; border-radius: 100px; color: white;">
            <td style="width:55%;padding: 15px 0px; padding-left: 5px;">DESCRIPTION</td>
            <td style="width:15%;padding: 15px 0px;;text-align: center">QTY</td>
            <td style="width:15%;padding: 15px 0px;;text-align: center">PRICE</td>
            <td style="width:15%;padding: 15px 0px;;text-align: right; padding-right: 5px;">TOTAL</td>
        </tr>
        <!-- ** HeadEnd **-->
        <!-- ** ItemsStart **-->
        <tr style="font-weight: 600; border-bottom: solid 1px #e2e2e2">
            <td style="padding: 10px 0px;font-size: 14px; padding-left: 15px;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center; background-color: #EBEEEC">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: right; padding-right: 15px; background-color: #EBEEEC;">block</td>
        </tr>
        
        <tr style="font-weight: 600; border-bottom: solid 1px #e2e2e2">
            <td style="padding: 10px 0px;font-size: 14px; padding-left: 15px;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center; background-color: #EBEEEC">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: right; padding-right: 15px; background-color: #EBEEEC;">block</td>
        </tr>
        <!-- ** ItemsEnd **-->
    </table>
</section>
<!-- ** CellEnd **-->

<!-------- ********************* SUB-HEADER SECTION *********************** ----->
<section>
    <table style="width: 100%; padding: 20px 20px 10px;">
        <tr style="width: 50%;">
            <td style="width: 60%; text-align: left;">
                <span>Gracias por sus negocios</span><br><br>
                <span style="font-size: 20px; font-weight: bolder; margin-bottom: 10px;">Contacto</span><br>
                <span>123 Street Town Portal, Contry</span><br>
                <span>+52 958-135-9856  correo@correo.com</span><br>
                <span>www.kitagil.com</span><br>
            </td>
<!-------- ********************* TOTAL SECTION *********************** ----->
            <td style="width: 40%; vertical-align: top;">
                <table style="width: 100%; border-collapse: collapse;">
                    <tr style="font-weight: 600;">
                        <td style="width: 0%; padding-left: 10%;">Sub-Total:</td>
                        <td style="text-align: right; padding-right: 20px;">
                            <!-- ** InitSubTotal **--><span>121 EUR</span><!-- ** EndSubTotal **-->                                                    
                        </td>
                    </tr>
                    <tr style="font-weight: 600;">
                        <td style="width: 0%; padding-left: 10%;">Iva:</td>
                        <td style="text-align: right; padding-right: 20px;">
                            <!-- ** InitTax **--><span>121 EUR</span><!-- ** EndTax **-->                                                    
                        </td>
                    </tr>
                    <tr><td style="padding-top: 15px;"></td></tr>
                    <tr style="font-weight: 600; margin-top: 80px; padding-top: 80px; color: white;">
                        <td style="width: 0%; padding-left: 10%; background-color: #453A36; font-size: 16px; margin-top: 100px;">Total:</td>
                        <td style="text-align: right; padding-right: 20px; background-color: #453A36; font-size: 16px;">
                            <!-- ** InitTotal **--><span>121 EUR</span><!-- ** EndTotal **-->                                                        
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</section>
<!-------- ********************* FOOTER SECTION *********************** ----->
<section>
    <table  style="width: 100%; padding: 20px 20px 10px;">
        <tr>
            <td colspan="2" style="padding-top: 20px;">
                <span style="font-family: Arial, Helvetica, sans-serif; font-weight: bolder;">Terminos y condiciones</span><br>
                <p style="color: #a5a5a5;vertical-align: top;font-size: 12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis mollis ultrices. Morbi sagittis lorem eget nulla euismod tempus. Aenean ac mauris libero. Proin mi sem, scelerisque id elementum non, vestibulum quis ligula. Duis feugiat turpis sit amet massa viverra aliquet. Duis quis magna non urna euismod dapibus non eget enim. Phasellus pharetra vulputate tellus, at gravida neque interdum ac. Nam quis aliquet erat, vitae bibendum massa. Etiam feugiat accumsan nisl, non mattis arcu sagittis non. Phasellus quam quam, ultricies sit amet nunc et, cursus fermentum ipsum. Vivamus quis fringilla turpis. Phasellus enim mauris, dictum in lacus non, porta elementum eros. Quisque ut lorem congue, imperdiet lorem nec, sagittis mi. Integer purus turpis, fermentum feugiat aliquam eget, luctus eu ipsum. Donec in purus sed urna condimentum vestibulum. Vivamus pulvinar nulla nunc, non volutpat augue fringilla eget.</p>
            </td>
        </tr>
    </table>
</section>