<!-------- ********************* TOTAL SECTION *********************** ----->
<section style="padding: 35px 20px 10px;font-family: Arial, Helvetica, sans-serif;">
  <table style="width: 100%;">
    <td>
    </td>
    <td style="text-align: right;">
      <div style="margin-bottom: 10px;">
        <div>
          <b>Sub-Total</b>
        </div>
        <div style="font-size: 15px; width: 100%;padding-bottom: 10px;">
          <!-- ** InitSubTotal **--><span class="secure-amount">121 EUR</span><!-- ** EndSubTotal **-->
        </div>
      </div>
      <div style="margin-bottom: 10px;">
        <div>
          <b>IVA</b>
        </div>
        <div style="font-size: 15px; width: 100%;padding-bottom: 10px;">
          <!-- ** InitTax **--><span class="secure-amount">121 EUR</span><!-- ** EndTax **-->
        </div>
      </div>
      <div>
        <div>
          <b>Total</b>
        </div>
        <div style="font-size: 35px; width: 100%;">
          <!-- ** InitTotal **--><span class="secure-amount">121 EUR</span><!-- ** EndTotal **-->
        </div>
      </div>
    </td>
  </table>
</section>
