<!-------- ********************* TOTAL SECTION *********************** ----->
<section style="padding: 35px 20px 10px;font-family: Arial, Helvetica, sans-serif;">
  <table style="width: 100%;">
    <td style="text-align: right;">
      <div>
        <div>
          <b>Total</b>
        </div>
        <div style="font-size: 35px; width: 100%;">
          <!-- ** InitTotal **--><span class="secure-amount">121 EUR</span><!-- ** EndTotal **-->
        </div>
      </div>
    </td>
  </table>
</section>
