<app-header [history]="history"></app-header>
<app-navbar></app-navbar>
<app-side-bar></app-side-bar>
<div class="container-row d-flex">
  <ng-container
    *ngTemplateOutlet="loadingAll; context: { loading: loading }"
  ></ng-container>
  <mat-tab-group
    [className]="'mat-tab-settings'"
    [(selectedIndex)]="indexTab"
    (selectedIndexChange)="load($event)"
    animationDuration="350ms"
    color="accent"
    disableRipple
    class="w-100"
  >
    <mat-tab [label]="'SETTINGS.TABS.GENERAL' | translate">
      <ng-template matTabContent>
        <div class="col-12 row p-0 m-0">
          <div class="col-12 pl-0 pr-2">
            <div class="setting-zone">
              <app-section-btn
                (cbList)="(null)"
                classCustom="custom-align pb-0"
                [options]="['save']"
                (cbPdf)="(null)"
                (cbAdd)="(null)"
                (cbSave)="save(0)"
                (cbPay)="(null)"
                (cbTrash)="(null)"
                (cbConvert)="(null)"
                [valid]="formGeneral.valid"
              ></app-section-btn>
              <div class="p-2 text-content">
                <div class="text-center p-3" *ngIf="preview?.image">
                  <img
                    class="avatar-preview"
                    appNotImages
                    (click)="reset()"
                    [src]="preview?.image"
                    alt=""
                  />
                </div>
                <div class="form-group logo-drop" *ngIf="!preview?.image">
                  <label>{{ "WIZARD.FORM.LOGO" | translate }}</label>
                  <ngx-file-picker
                    [fileMaxCount]="1"
                    (fileAdded)="fileAdded($event)"
                    [fileExtensions]="['jpg', 'jpeg', 'png']"
                    [enableCropper]="false"
                    [showPreviewContainer]="false"
                  >
                    <div class="dropzoneTemplate text-center">
                      <small class="text-muted">{{
                        "WIZARD.FORM.DRAG_ZONE" | translate
                      }}</small>
                    </div>
                  </ngx-file-picker>
                  <small class="form-text text-muted">{{
                    "WIZARD.FORM.LOGO_PLACEHOLDER" | translate
                  }}</small>
                </div>
                <hr />
                <form
                  class="form-product"
                  [formGroup]="formGeneral"
                  (ngSubmit)="update()"
                >
                  <div class="form-group pb-3">
                    <label>{{ "WIZARD.FORM.COMPANY" | translate }}</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="LeangaSoftware"
                      formControlName="name"
                    />
                    <small class="form-text text-muted">{{
                      "WIZARD.FORM.COMPANY_PLACEHOLDER" | translate
                    }}</small>
                  </div>
                  <div class="form-group pb-3">
                    <label>{{ "WIZARD.FORM.CURRENCY" | translate }}</label>
                    <ng-select
                      [items]="currencies"
                      bindLabel="code"
                      bindValue="code"
                      [clearable]="false"
                      formControlName="currency"
                    >
                      <ng-template ng-label-tmp let-item="item">
                        {{ item?.code }}
                      </ng-template>
                      <ng-template
                        ng-option-tmp
                        let-item="item"
                        let-index="index"
                        let-search="searchTerm"
                      >
                        <b>{{ item?.code }}</b> {{ item?.name }}
                      </ng-template>
                    </ng-select>
                    <small class="form-text text-muted">{{
                      "WIZARD.FORM.CURRENCY_PLACEHOLDER" | translate
                    }}</small>
                  </div>

                  <div class="form-group pb-3">
                    <label>{{
                      "WIZARD.FORM.CURRENCY_SYMBOL" | translate
                    }}</label>
                    <ng-select
                      [items]="currencies"
                      bindLabel="code"
                      bindValue="symbol_native"
                      [clearable]="false"
                      formControlName="currencySymbol"
                    >
                      <ng-template ng-label-tmp let-item="item">
                        {{ item?.symbol_native }}
                      </ng-template>
                      <ng-template
                        ng-option-tmp
                        let-item="item"
                        let-index="index"
                        let-search="searchTerm"
                      >
                        <b>{{ item?.symbol_native }}</b> {{ item?.name }}
                      </ng-template>
                    </ng-select>
                    <small class="form-text text-muted">{{
                      "WIZARD.FORM.CURRENCY_SYMBOL_PLACEHOLDER" | translate
                    }}</small>
                  </div>

                  <div class="form-group pb-3">
                    <label>{{ "WIZARD.FORM.LANGUAGE" | translate }}</label>
                    <ng-select
                      [items]="languages"
                      bindLabel="name"
                      bindValue="value"
                      [required]="true"
                      [clearable]="false"
                      formControlName="language"
                    >
                      <ng-template ng-label-tmp let-item="item">
                        {{ item?.name }}
                      </ng-template>
                      <ng-template
                        ng-option-tmp
                        let-item="item"
                        let-index="index"
                        let-search="searchTerm"
                      >
                        {{ item?.name }}
                      </ng-template>
                    </ng-select>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--          <div class="col-4 pl-0 pr-2">-->
          <!--            <div class="setting-zone" [innerHTML]="'SETTINGS.HELP_SECTION.GENERAL' | translate">-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="'SETTINGS.TABS.TAXES' | translate">
      <ng-template matTabContent>
        <div class="col-12 row p-0 m-0">
          <div class="col-12 pl-0 pr-2">
            <div class="setting-zone">
              <app-section-btn
                (cbList)="(null)"
                classCustom="custom-align pb-0"
                [options]="['save']"
                (cbPdf)="(null)"
                (cbAdd)="(null)"
                (cbSave)="save(1)"
                (cbPay)="(null)"
                (cbTrash)="(null)"
                (cbConvert)="(null)"
                [valid]="formTaxes.valid"
              ></app-section-btn>
              <div class="p-2 text-content">
                <form class="form-product" [formGroup]="formTaxes">
                  <div class="form-group pb-3">
                    <label>{{ "SETTINGS.TAX" | translate }}</label>
                    <div class="list-taxes">
                      <ul>
                        <li
                          class="p-2 mb-1 d-flex justify-content-between"
                          *ngFor="let tax of taxList; let i = index"
                        >
                          <div>
                            {{ tax?.name }}
                            <span class="badge">{{ tax?.amount }}</span>
                          </div>
                          <div>
                            <span
                              class="ml-1 btn-light-trash cursor-pointer"
                              (click)="deletePrice(i, 'taxList')"
                            >
                              <fa-icon [icon]="faTrashAlt"></fa-icon>
                            </span>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="w-100 text-right mb-2">
                      <button
                        class="btn btn-sm btn-default btn-sm font-weight-bold"
                        type="button"
                        (click)="openNewTax()"
                      >
                        {{ "SETTINGS.ADD_TAX" | translate }}
                      </button>
                    </div>
                    <small class="form-text text-muted">{{
                      "SETTINGS.PLACEHOLDER" | translate
                    }}</small>
                  </div>

                  <div class="form-group pb-3">
                    <label>{{ "SETTINGS.TAX_OFFSET" | translate }}</label>
                    <div class="list-taxes">
                      <ul>
                        <li
                          class="p-2 mb-1 d-flex justify-content-between"
                          *ngFor="let tax of taxListOffset; let i = index"
                        >
                          <div>
                            {{ tax?.name }}
                            <span class="badge">{{ tax?.amount }}</span>
                          </div>
                          <div>
                            <span
                              class="ml-1 btn-light-trash cursor-pointer"
                              (click)="deletePrice(i, 'taxListOffset')"
                            >
                              <fa-icon [icon]="faTrashAlt"></fa-icon>
                            </span>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div
                      class="w-100 text-right mb-2"
                      *ngIf="!taxListOffset?.length"
                    >
                      <button
                        class="btn btn-sm btn-default btn-sm font-weight-bold"
                        type="button"
                        (click)="openNewTaxOffset()"
                      >
                        {{ "SETTINGS.ADD_TAX" | translate }}
                      </button>
                    </div>
                    <small class="form-text text-muted">{{
                      "SETTINGS.PLACEHOLDER" | translate
                    }}</small>
                  </div>

                  <div class="form-group pb-3">
                    <label>{{ "SETTINGS.FORMAT_INVOICE" | translate }}</label>
                    <input
                      type="text"
                      [style.letterSpacing]="'5px'"
                      spellcheck="false"
                      [maxLength]="12"
                      [minLength]="4"
                      class="form-control"
                      formControlName="invoiceFormat"
                      placeholder="%%%%%"
                    />
                    <small class="form-text text-muted">{{
                      "SETTINGS.PLACEHOLDER_FORMAT_INVOICE" | translate
                    }}</small>
                  </div>
                  <div
                    class="form-group pb-3"
                    *ngIf="
                      !share
                        .findInvalidControls(formTaxes)
                        .includes('invoiceFormat')
                    "
                  >
                    <label>{{ "SETTINGS.LAST_INVOICE" | translate }}</label>
                    <input
                      type="number"
                      [maxLength]="12"
                      [minLength]="0"
                      class="form-control"
                      formControlName="initialInvoice"
                      placeholder=""
                    />
                  </div>
                  <div class="form-group pb-3">
                    <div class="w-100 mt-3 invoice-example">
                      <h6>
                        <b
                          >{{ "SETTINGS.PLACEHOLDER_INVOICE_N" | translate }}
                        </b>
                        {{
                          this.formTaxes.value?.invoiceFormat
                            | invoicePlaceHolder
                              : this.formTaxes.value?.initialInvoice
                        }}
                      </h6>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="'SETTINGS.TABS.DESIGN' | translate">
      <ng-template matTabContent>
        <div class="col-12 row p-0 m-0">
          <div class="col-12 pl-0 pr-2">
            <div class="setting-zone">
              <div class="p-4 text-content text-center">
                <img
                  [style.width]="'20rem'"
                  src="../../../../../assets/images/undraw_experience_design_eq3j.svg"
                  alt=""
                />
                <div class="p-3">
                  <div
                    class="col-xl-4 text-left offset-lg-4 offset-xl-4 offset-md-3 col-lg-4 col-md-3 col-sm-12 pt-3 pb-3"
                  >
                    <ng-select
                      [items]="templates"
                      bindLabel="name"
                      [placeholder]="'SETTINGS.GO_TO_BUILDER' | translate"
                      [(ngModel)]="selectedTemplate"
                      [clearable]="false"
                      autofocus
                      required
                      (change)="selectBuilder($event)"
                      [searchable]="false"
                      bindValue="value"
                    >
                    </ng-select>
                  </div>
                  <!--                  <div>-->
                  <!--                    <button class="btn btn-primary btn-lg">-->
                  <!--                      {{'SETTINGS.GO_TO_BUILDER' |translate}}-->
                  <!--                    </button>-->
                  <!--                  </div>-->
                  <p class="p-2">
                    Expresa tu creatividad con nuestra herramienta para crear tu
                    diseño de factura o presupuesto.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="'SETTINGS.TABS.PLUGINS' | translate">
      <ng-template matTabContent>
        <div class="col-12 row p-0 m-0">
          <div class="col-12 pl-0 pr-2">
            <div class="pl-1 pr-1">
              <app-list-addons></app-list-addons>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="'SETTINGS.TABS.PLAN' | translate">
      <ng-template matTabContent>
        <div class="col-12 row p-0 m-0">
          <div class="col-12 pl-0 pr-2">
            <div class="pl-1 pr-1">
              <app-list-plan></app-list-plan>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="'SETTINGS.TABS.PAYMENT_METHOD' | translate">
      <ng-template matTabContent>
        <div class="col-12 row p-0 m-0">
          <div class="col-12 pl-0 pr-2">
            <div class="pl-1 pr-1">
              <app-method-payment></app-method-payment>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img
        [width]="'5rem'"
        src="../../../../../assets/images/loading-svg.svg"
        alt=""
      />
    </div>
  </div>
</ng-template>
