<ng-container *ngIf="mode === 'page'">
  <app-header [history]="history"></app-header>
  <app-navbar></app-navbar>
  <app-side-bar></app-side-bar>
</ng-container>
<div class="w-100" [ngClass]="{ 'container-row d-flex': mode === 'page' }">
  <div *ngIf="mode === 'home'" class="col-12 mb-2">
    <b class="text-muted">{{ title }}</b>
  </div>
  <app-calendary [title]="'Calendario'" class="col-8"></app-calendary>
  <app-list-calendar
    [title]="'Eventos'"
    [mode]="'home'"
    [limit]="8"
    *ngIf="share.checkRole(['seller', 'admin', 'manager'])"
    [viewMore]="false"
    class="col-md-6 col-sm-12 col-lg-4 col-xl-4 row m-0 pl-0 pr-0"
  >
  </app-list-calendar>
</div>
