.text-muted {
  font-weight: 600;
  color: #808291;
}

.description-text {
  color: #808291;
  font-size: var(--font-size-2);;
  font-weight: 500;
}



.form-group label {
  font-size: var(--font-size-2);;
}

.form-group {
  margin-bottom: 0;
}

.form-product .label {
  font-size: var(--font-size-2);;
}

.form-product .name {
  font-size: 1.5rem;
}

.btn-transparent {

}

.list-prices ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  height: 120px;
  overflow-y: auto;
}

.list-prices ul li {
  padding: .5rem 0rem .5rem .5rem;
  text-align: right;
  border-bottom: solid 1px #f6f5fa;
}

.list-prices ul li:last-child {
  border-bottom: 0 !important;
}

.list-menu-header {
  position: absolute;
  bottom: 1.5rem;
  right: 0rem;
}

.list-menu-header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row-reverse;
}

.list-menu-header ul li {
  /*background-color: red;*/
}

.list-menu-header .icon-list-menu {
  padding: .5rem;
  background-color: white;
  border-radius: 4rem;
  height: 45px;
  color: #2CA42E;
  width: 45px;
  text-align: center;
  cursor: pointer;
}

.icon-list-menu:hover {
  box-shadow: 0 0 10px rgba(211, 211, 214, 0.61);
  transform: scale(1.1);
  background-color: #E9E5FD !important;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}

.icon-list-menu:hover fa-icon {
  color: #221ECD;

}

.btn-light-trash {
  cursor: pointer;
}

.min-h-545 {
  min-height: 545px;
}

.list-providers ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-providers ul li {
  padding: .5rem 0rem .5rem .5rem;
  border-bottom: solid 1px #f6f5fa;
  font-weight: 400;
}

.child-list-deposits:last-child{
  border:0!important;
}
