<form (submit)="onSubmit()" class="form-product w-100 flex-wrap d-flex" [formGroup]="form">
  <div class="col-12 p-0 flex-wrap d-flex">
    <div class="text-right w-100">
      <app-section-btn (cbList)="cbList()" [options]="['list','save',(id?.length) ? 'trash' : '']" (cbTrash)="cbTrash()"
        [valid]="form.valid"></app-section-btn>
    </div>

    <div class="custom-card-style col-12 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "DEPOSITS.NAME" | translate }}</label>
            <input type="text" formControlName="name" class="form-control" placeholder="" />
          </div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "DEPOSITS.MANAGER" | translate }}</label>
            <!--            <input type="text" formControlName="manager"-->
            <!--                   class="form-control"-->
            <!--                   placeholder=""></div>-->
            <ng-select formControlName="manager" [items]="results$?.user | async" bindLabel="name" selectUserInput#
              (close)="selectUserInput.blur(); selectUserInput.focus()" (search)="src($event)"
              [notFoundText]="'DEPOSITS.SEARCH_PRODUCT' | translate" [required]="true" placeholder="">
              <ng-template ng-label-tmp let-item="item">
                {{item?.name}} {{item?.lastName}} <small><i>{{item?.nameBusiness}}</i></small>
              </ng-template>

              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="card-list d-flex">
                  <div class="p-1">
                    <ngx-avatar cornerRadius="5" [round]="false" size="30" [name]="item?.name"></ngx-avatar>
                  </div>
                  <div class="p-1">
                    <div>{{item?.name}} {{item?.lastName}}</div>
                    <small><i>{{item?.nameBusiness}}</i></small>
                    <div class="font-weight-normal text-muted">
                      <span *ngFor="let tag of item?.tag">
                        <span class="badge badge-tag">{{tag?.name}}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </ng-template>

              <ng-template *ngIf="(results$?.user | async | checkArray)?.check" ng-notfound-tmp
                let-searchTerm="searchTerm">
                <div class="ng-option disabled">
                  <div>
                    <button class="btn btn-sm btn-default" (click)="open({ role: 'manager' })" type="button">
                      {{'GENERAL.ADD' | translate}}: <b>{{searchTerm}}</b>
                    </button>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "DEPOSITS.ADDRESS" | translate }}</label>
            <input type="text" formControlName="address" class="form-control" placeholder="" />
          </div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "DEPOSITS.PHONE" | translate }}</label>
            <input type="text" formControlName="phone" class="form-control" placeholder="" />
          </div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{ "DEPOSITS.DESCRIPTION" | translate }}</label>
            <input type="text" formControlName="description" class="form-control" aria-describedby="emailHelp"
              placeholder="" />
          </div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="form-group w-100">
        <label>{{ "DEPOSITS.TAG" | translate }}</label>
        <tag-input class="chip-price" [addOnBlur]="true" formControlName="tag" [modelAsStrings]="true"></tag-input>
      </div>
    </div>
  </div>
  <!---************************* FOOTER BTN ************************-->
  <div class="footer-options d-flex justify-content-end">
    <div class="d-flex">

      <button  type="button" [routerLink]="['/','purchase']" class="btn btn-default btn-default ml-2">{{'GENERAL.CANCEL' |translate}}</button>
      <button type="submit" class="btn btn-default bg-success btn-success ml-2"
              ngxLoading [disabled]="!form.valid" [loadingFlag]="loading" [textInitial]="'GENERAL.SAVE' | translate"
              [textLoading]="'GENERAL.LOADING' | translate">
        <span>
          <fa-icon [icon]="faSave"></fa-icon>
        </span>
        {{'GENERAL.SAVE' |translate}}</button>
    </div>
  </div>
</form>
