<ng-container *ngIf="mode === 'page'">
  <app-header [history]="history"></app-header>
  <app-navbar></app-navbar>
  <app-side-bar></app-side-bar>
</ng-container>
<div class="w-100" [ngClass]="{ 'container-row d-flex': mode === 'page' }">
  <ng-container
    *ngTemplateOutlet="loadingAll; context: { loading: loading }"
  ></ng-container>
  <div *ngIf="mode === 'home'" class="col-12 mb-2">
    <b class="text-muted">{{ title }}</b>
  </div>
  <app-list-items
    (cbAdd)="goTo()"
    [(data)]="data"
    [type_list]="'products'"
    [options]="[
      ['admin', 'manager'].includes(auth.currentUser()?.role) ? 'add' : ''
    ]"
    [mode]="cbMode"
    [filtersMode]="viewMore"
    [customTemplate]="customTemplateSrc"
    (cbPdf)="cbPdf()"
    (cbFilter)="cbFilter($event)"
    (cbSrc)="onSrc($event)"
    class="col-12 row m-0 pl-1 pr-1"
  >
  </app-list-items>
  <ng-container
    *ngTemplateOutlet="templateEmpty; context: { data: dataTake }"
  ></ng-container>
</div>

<!-- ************ PAGINATE BUTTON ************  -->
<div *ngIf="viewMore" class="w-100" [style.opacity]="loading ? '0' : '1'">
  <ng-template
    #firstTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
  </ng-template>

  <ng-template
    #lastTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
  </ng-template>
  <ng-template
    #prevTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleLeft"></fa-icon>
  </ng-template>
  <ng-template
    #nextTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleRight"></fa-icon>
  </ng-template>
  <div class="pagination-row">
    <pagination
      (pageChanged)="pageChanged($event)"
      [itemsPerPage]="pagination?.limit"
      [customFirstTemplate]="firstTemplate"
      [customLastTemplate]="lastTemplate"
      [customPreviousTemplate]="prevTemplate"
      [customNextTemplate]="nextTemplate"
      [maxSize]="pagination?.limit"
      [totalItems]="pagination?.paginationConfig?.totalDocs"
    >
    </pagination>
  </div>
</div>

<!-- ************ PAGINATE BUTTON ************  -->

<!-- ***************** TEMPLATE ************** -->
<ng-template #customTemplateSrc let-dat="dat">
  <ul>
    <li
      *ngFor="let inside of dat | async"
      (click)="emitCbClick(inside)"
      class="col-12 row ml-0 mr-0"
    >
      <div class="col-md-10 col-lg-10 col-sm-10 col-8 pl-0 pr-0">
        <div class="d-flex align-items-center align-content-center">
          <ngx-avatar
            cornerRadius="5"
            [round]="false"
            class="d-none d-md-block img-50"
            [className]="'img-50'"
            [name]="inside?.name"
            *ngIf="!(inside?.gallery | firstImage: 'small')"
          >
          </ngx-avatar>
          <ngx-avatar
            cornerRadius="5"
            [round]="false"
            class="d-none d-md-block img-50"
            [className]="'img-50'"
            [src]="inside?.gallery | firstImage: 'small'"
            *ngIf="inside?.gallery | firstImage: 'small'"
          >
          </ngx-avatar>
          <div class="w-100">
            <div class="name mr-2 ml-1 font-weight-bold truncate">
              {{ inside?.name }}
            </div>
            <div class="ml-1 badge-zone" *ngIf="inside?.tag?.length">
              <span
                class="badge-tag badge mr-1"
                *ngFor="let tag of inside?.tag"
              >
                {{ tag?.name ? tag?.name : tag }}
              </span>
            </div>
            <div class="ml-1 mt-1" *ngIf="inside?.prices?.length">
              <span
                class="badge-tag-price badge mr-2"
                *ngFor="let price of inside?.prices"
              >
                {{ currencySymbol }} {{ price?.amount | number: "1.2-2" }}
                {{ currency }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2 col-4 pr-0 pl-0 text-right">
        <ng-container *ngIf="search.fields.includes('deposits')">
          <ng-container>
            <h6
              class="mt-2 mb-0 text-hover font-weight-bold"
              [ngClass]="{
                'text-danger':
                  (inside?.depositList | filterDeposit: search.filters)?.qty <=
                  0
              }"
            >
              {{
                (inside?.depositList | filterDeposit: search.filters)?.qty
                  | json
              }}
            </h6>
            <span class="text-muted small">{{
              "INVENTORY.QTY" | translate
            }}</span>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!search.fields.includes('deposits')">
          <h6
            class="mt-2 mb-0 text-hover font-weight-bold"
            [ngClass]="{
              'text-danger': inside?.qty <= 0
            }"
          >
            {{ inside?.qty }}
          </h6>
          <span class="text-muted small">{{
            "INVENTORY.QTY" | translate
          }}</span>
        </ng-container>
      </div>
    </li>
  </ul>
</ng-template>
<!-- ***************** FIN TEMPLATE ************** -->
<ng-template #templateEmpty let-data="data">
  <ng-container *ngIf="!loading">
    <app-box-empty *ngIf="!data?.length"></app-box-empty>
  </ng-container>
</ng-template>

<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img
        [width]="'5rem'"
        src="../../../../../assets/images/loading-svg.svg"
        alt=""
      />
    </div>
  </div>
</ng-template>
