<div class="d-flex justify-content-center flex-column align-items-center">
  <div class="text-center w-100">
    <h6 class="font-weight-bold p-2">
      {{'GENERAL.BETA_TITLE'| translate}}
    </h6>
  </div>
  <div class="p-2">
    <ng-lottie
      class="margin-auto"
      height="230px"
      [options]="options">
    </ng-lottie>
  </div>
  <div class="p-2 text-content">
    <hr>
    <div class="mb-2">
      <div>
        <b>{{user?.name}}</b>
      </div>
      <div>
        <span><i>{{user?.email}}</i></span>
      </div>
    </div>
    <p [innerHTML]="'GENERAL.NOTICE_BETA' | translate"></p>
    <small class="text-muted">{{'GENERAL.SUB_NOTICE_BETA' | translate}} ({{version}})</small>
    <div class="text-center pt-3 d-flex justify-content-between">
      <button (click)="bsModalRef.hide()" type="button" class="btn btn-primary hvr-grow  btn-radius">
        {{'GENERAL.ACCEPT' | translate}}
      </button>
    </div>
  </div>
</div>
