<div *ngIf="notificationsService?.open"
     class="parent-notification pl-0 pr-0 col-xl-3 col-lg-6 col-sm-12 col-md-8 col-12 " [@enterAnimation]>
  <div class="wrapper-notifications">
    <div class="pt-2 d-flex justify-content-between">
      <h6 class="p-2 font-weight-bolder">
        <span class="mr-2"><fa-icon [icon]="faBell"></fa-icon></span>{{'GENERAL.NOTIFICATION' | translate}}
      </h6>
      <div class="p-1 cursor-pointer mr-3" (click)="notificationsService.open = false">
        <fa-icon [icon]="faTimes"></fa-icon>
      </div>
    </div>
    <hr class="row mt-0 mb-0">
    <div class="">
      <ul class="list-unstyled m-0 p-0"  *ngIf="data$?.length">

        <li class="pb-2 pt-2 d-flex w-100 border-bottom-line" routerLink="{{a?.url}}"
            *ngFor="let a of data$">
          <div class="pl-2 pr-2 w-100">
            <div class="text-right w-100 text-muted small" timeago *ngIf="a?.createdAt" [date]="a?.createdAt"></div>
            <div class="d-flex">
              <ngx-avatar [name]="a?.sender?.name" size="23" [src]="a?.sender?.avatar"></ngx-avatar>
              <div class="truncate title w-100 pl-1">{{a?.title |translate}}</div>
            </div>
            <div class="  w-100   truncate">{{a?.body}}</div>
            <div class="event-zone" *ngIf="a?.event" [innerHTML]="a?.event | safeHtml"></div>
          </div>
        </li>


      </ul>
      <div class="w-100 d-flex justify-content-center p-4">
      <div *ngIf="!data$?.length">
        <ng-lottie
          class="margin-auto"
          width="200px"
          (domLoaded)="loopComplete($event)"
          [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
      </div>
      </div>
    </div>
  </div>
</div>
