.parent-notification {
  position: fixed;
  display: block;
  height: calc(100vh - 100px);
  z-index: 99;
  right: 0;
  bottom: 0;
  background: white;
  border-top-left-radius: var(--border-radius-35);
  border-top-right-radius: var(--border-radius-35);
  box-shadow: -6px -5px 10px rgb(0 0 0 / 9%);
}

.wrapper-notifications {
  height: 100%;
  overflow-y: auto;

}

.wrapper-notifications li {
  cursor: pointer;
}

.title {
  font-weight: 500;
}

.event-zone {
  background: #f6f5fa;
  padding: .5rem;
  margin-top: .5rem;
  border-radius:  var(--border-radius-35);
}

.event-zone img {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  max-width: 250px;
}

.border-bottom-line {
  border-bottom: solid 1px whitesmoke;
}
