<form (submit)="saveClose()">
  <h6 class="mb-3">{{'INVENTORY.BARCODE_TITLE' |translate}}</h6>
  <div class="form-group mt-1 mb-2" *ngFor="let items of serials.controls;let index = index">
    <label class="mb-0">{{'INVENTORY.SERIAL' |translate}} #{{index}}</label>
    <input [formControl]="serials.controls[index]" type="text" class="form-control focus-input"
      [placeholder]="'0000000000-'+index">
  </div>
  <div class="form-group pt-2 pb-2">
    <button type="submit" class="btn btn-primary hvr-grow  btn-radius">
      {{'GENERAL.SAVE'|translate}}
    </button>
  </div>
</form>
