

.form-group label {
  font-size: var(--font-size-2);;
}

.form-group {
  margin-bottom: 0;
}
.focus-input:focus{
  border: solid 2px #8f8dfb;
    border-radius: .25rem;
    box-shadow: 0 0 10px #dddcff;
}
.focus-input{
  border:solid 2px transparent
}
