

.h-100vh{
  height: calc(100vh);
}
.container-grapes{
  padding: 3.7rem 0 0 4rem;
}
#gjs{


}

.tooltip-zone{
  bottom: 0;
  width: 100%;
  background: transparent;
  z-index: 1;
  padding: 1rem 1rem 1rem 4.5rem;

}
.popover-zone{
  padding: .5rem;
  width: 20rem;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-75);
  border:solid 1px var(--border-color-1)
}
.popover-zone .avatar img{
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.brand-color{
  display: block;
  height: 16px;
  width: 16px;
  border-radius: var(--border-radius-35);
  background-color: #e02efe;
}
