.filters-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-icon {
  padding: .25rem;
  background: #d5cef9;
  border-radius: 4rem;
  width: 1.5rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.loading-filter {
  z-index: 9;
  background: #ffffffe3;
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
}

.loading-filter .in {
  position: relative;
  text-align: center;
  margin: auto;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.loading-filter .in img {
  width: 30px;
}

.badge-filter {
  color: #505050;
}

.badge-filter:hover {
  color: white;
}

.items .header {
  background-color: white;
  padding: .5rem;
  border-top-left-radius: var(--border-radius-35);
  border-top-right-radius: var(--border-radius-35);
  font-weight: 600;
  font-size: var(--font-size);
  letter-spacing: .6px;
  border-top: solid 1px var(--border-color-6);
  border-left: solid 1px var(--border-color-6);
  border-right: solid 1px var(--border-color-6);
}

.title {
  margin-bottom: .25rem;
}

.input-date {
  padding: .25rem !important;
  font-size: .7rem;
  font-weight: 600;
  color: #808291;
  letter-spacing: 1px;
  border: solid 0px;
  cursor: pointer;
}

.input-src {
  padding: .5rem .5rem !important;
  font-size: var(--font-size-1);
  font-weight: 400;
  color: var(--text-color-2);
  letter-spacing: 1px;
  border: solid 0px;
  cursor: pointer;
  border-radius: var(--border-radius-35);
  background-color: white;
  width: 100%;
}

.badge-red {
  background-color: #E93751;
  color: #ffffff;
  margin-left: .5rem;
  padding: .2rem .35rem;
  border-radius: 1rem;
}

.badge-red-1 {
  background-color: #ff9b79;
  color: #ffffff;
  margin-left: .5rem;
  padding: .2rem .35rem;
  border-radius: 1rem;
}


.badge-green {
  color: #30A032;
  margin-left: .5rem;
}

.badge-green:before {
  content: "";
  background-color: #30A032;
  width: 7px;
  height: 7px;
  position: absolute;
  margin-right: .3rem;
  margin-left: -11px;
  margin-top: 1px;
  border-radius: 12px;
}

.badge-blue {
  color: #01B1FF;
  margin-left: .5rem;
}

.badge-blue:before {
  content: "";
  background-color: #01B1FF;
  width: 7px;
  height: 7px;
  position: absolute;
  margin-right: .3rem;
  margin-left: -11px;
  margin-top: 1px;
  border-radius: 12px;
}

.badge-purple {
  color: #221CC5;
  margin-left: .5rem;
}

.badge-purple:before {
  content: "";
  background-color: #221CC5;
  width: 7px;
  height: 7px;
  position: absolute;
  margin-right: .3rem;
  margin-left: -11px;
  margin-top: 1px;
  border-radius: 12px;
}

.badge-orange {
  color: #FDAC90;
  margin-left: .5rem;
}

.badge-orange:before {
  content: "";
  background-color: #FDAC90;
  width: 7px;
  height: 7px;
  position: absolute;
  margin-right: .3rem;
  margin-left: -11px;
  margin-top: 1px;
  border-radius: 12px;
}


.price-main {
  color: #6d6d6d;
}

.item-list-single:hover .badge, .item-list-single:hover .arrow-icon-colors {
  color: rgba(255, 255, 255, 0.8) !important;
}

