<div>
  <div class=" p-2">
    <div>
      <h5>{{dataLoad?.item?.name}}</h5>
    </div>
    <div>
      <p [innerHTML]="dataLoad?.item?.description"></p>
    </div>
    <div *ngIf="dataLoad?.item?.video">
      <video [src]="dataLoad?.item?.video" class="w-100" controls></video>
    </div>
    <hr>
    <button *ngIf="!dataLoad?.pluginSetting" type="button" (click)="active()" class="btn btn-primary hvr-grow  btn-radius">
      {{'PLUGINS.ACTIVE' | translate}}
    </button>
    <button *ngIf="dataLoad?.pluginSetting" type="button" (click)="disabled()" class="btn btn-default btn-radius">
      {{'PLUGINS.DISABLED' | translate}}
    </button>
    <button *ngIf="dataLoad?.pluginSetting" type="button" (click)="close()" [routerLink]="['/', 'add-ons', dataLoad?.item?._id]"
            class="btn btn-primary hvr-grow  btn-radius ml-3">
      {{'PLUGINS.SETTINGS' | translate}}
    </button>
  </div>
</div>
