<form (submit)="onSubmit()" class="form-product w-100 flex-wrap d-flex" [formGroup]="form">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 flex-wrap d-flex">
    <!--    {{share.findInvalidControls(form) | json}}-->
    <div class="text-right w-100">
      <app-section-btn (cbList)="cbList()" [options]="['list','save']" (cbTrash)="cbTrash()" [valid]="form.valid">
      </app-section-btn>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"PURCHASE.CUSTOMER" |translate}}</label>
            <ng-select #selectProductRef [items]="results$ | async"
                       formControlName="customer"
                       bindLabel="name"
                       (close)="selectProductRef.blur(); selectProductRef.focus()"
                       [addTag]="true"
                       [multiple]="false"
                       [hideSelected]="true"
                       [trackByFn]="trackByFn"
                       [minTermLength]="3"
                       [required]="true"
                       (change)="selectUser($event)"
                       [loading]="userLoading"
                       [typeToSearchText]="'PURCHASE.SEARCH_PRODUCT' |translate"
                       [typeahead]="userInput$">
              <ng-template ng-label-tmp let-item="item">
                {{item?.name}} {{item?.lastName}} <small><i>{{item?.nameBusiness}}</i></small>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="card-list d-flex">
                  <div class="p-1">
                    <ngx-avatar cornerRadius="5" [round]="false" size="30" [name]="item?.name"></ngx-avatar>
                  </div>
                  <div class="p-1">
                    <div>{{item?.name}} {{item?.lastName}}</div>
                    <small><i>{{item?.nameBusiness}}</i></small>
                    <div class="font-weight-normal text-muted">
                      <span *ngFor="let tag of item?.tag">
                        <span class="badge badge-tag">{{tag?.name}}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"PURCHASE.ADDRESS_INVOICE" |translate}}</label>
            <input type="text" autocomplete="off" spellcheck="false" formControlName="invoiceAddress"
                   class="form-control" aria-describedby="emailHelp"
                   placeholder=""></div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"PURCHASE.ADDRESS" |translate}}</label>
            <input type="text" autocomplete="off" spellcheck="false" formControlName="deliveryAddress"
                   class="form-control" aria-describedby="emailHelp"
                   placeholder=""></div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"PURCHASE.DATE_DELIVERY" |translate}}</label>
            <input type="text" autocomplete="off" spellcheck="false" placeholder="" formControlName="deliveryDate"
                   class="form-control"
                   placement="bottom left" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" [minDate]="today"
                   bsDatepicker>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"PURCHASE.STATUS" |translate}}</label>
            <ng-select formControlName="status" [items]="status" bindLabel="name" bindValue="value"
                       [required]="true" placeholder="">
            </ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"PURCHASE.DELIVERY_TYPE" |translate}}</label>
            <!--            <input type="text" formControlName="manager"-->
            <!--                   class="form-control" aria-describedby="emailHelp"-->
            <!--                   placeholder=""></div>-->
            <ng-select formControlName="deliveryType" [items]="deliveryType" bindLabel="name" bindValue="value"
                       [required]="true" placeholder="">
            </ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"PURCHASE.DESCRIPTION" |translate}}</label>
            <input type="text" autocomplete="off" spellcheck="false" formControlName="description" class="form-control"
                   aria-describedby="emailHelp"
                   placeholder=""></div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="form-group w-100">
        <label>{{"PURCHASE.TAG" |translate}}</label>
        <tag-input class="chip-price" autocomplete="off" spellcheck="false" [(ngModel)]="itemsAsObjects"
                   [identifyBy]="'id'" [addOnBlur]="true"
                   formControlName="tag" [displayBy]="'name'"></tag-input>
      </div>
    </div>
  </div>

  <!---************************* FOOTER BTN ************************-->
  <div class="footer-options d-flex justify-content-end">
    <div class="d-flex">
      <button  type="button" [routerLink]="['/','purchase']" class="btn btn-default btn-default ml-2">{{'GENERAL.CANCEL' |translate}}</button>
      <button type="submit" class="btn btn-default bg-success btn-success ml-2"
              ngxLoading [disabled]="!form.valid" [loadingFlag]="loading" [textInitial]="'GENERAL.SAVE' | translate"
              [textLoading]="'GENERAL.LOADING' | translate">
        <span>
          <fa-icon [icon]="faSave"></fa-icon>
        </span>
        {{'GENERAL.SAVE' |translate}}</button>
    </div>
  </div>
</form>
