<app-header [history]="history"></app-header>
<app-navbar></app-navbar>
<app-side-bar></app-side-bar>
<div class="container-row d-flex">
  <ng-container
    *ngTemplateOutlet="loadingAll; context: { loading: loading }"
  ></ng-container>
  <app-list-items
    (cbAdd)="goTo()"
    [(data)]="data"
    [type_list]="'deposits'"
    [mode]="cbMode"
    [customTemplate]="customTemplateSrc"
    (cbSrc)="onSrc($event)"
    class="col-12 row m-0 pl-1 pr-1"
  >
  </app-list-items>
  <ng-container
    *ngTemplateOutlet="templateEmpty; context: { data: dataTake }"
  ></ng-container>
</div>

<!-- ************ PAGINATE BUTTON ************  -->
<div *ngIf="viewMore" class="w-100" [style.opacity]="loading ? '0' : '1'">
  <ng-template
    #firstTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
  </ng-template>

  <ng-template
    #lastTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
  </ng-template>
  <ng-template
    #prevTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleLeft"></fa-icon>
  </ng-template>
  <ng-template
    #nextTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleRight"></fa-icon>
  </ng-template>
  <div
    class="pagination-row"
    *ngIf="pagination?.hasPrevPage || pagination?.hasNextPage"
  >
    <pagination
      (pageChanged)="pageChanged($event)"
      [itemsPerPage]="pagination?.limit"
      [customFirstTemplate]="firstTemplate"
      [customLastTemplate]="lastTemplate"
      [customPreviousTemplate]="prevTemplate"
      [customNextTemplate]="nextTemplate"
      [maxSize]="pagination?.limit"
      [totalItems]="pagination?.totalDocs"
    >
    </pagination>
  </div>
</div>

<!-- ************ PAGINATE BUTTON ************  -->

<!-- ***************** TEMPLATE ************** -->
<ng-template #customTemplateSrc let-dat="dat">
  <ul>
    <li
      *ngFor="let inside of dat | async"
      [routerLink]="['/', 'deposits', inside?._id]"
      class="row ml-0 mr-0 col-12 pl-0 pr-0"
    >
      <div class="d-flex col-sm-10 col-8 pr-0 pl-2">
        <div class="d-none d-md-block pt-2 pb-2">
          <ngx-avatar
            cornerRadius="5"
            [round]="false"
            size="35"
            *ngIf="inside?.name"
            [name]="inside.name"
          ></ngx-avatar>
        </div>
        <div class="pl-2 pr-2 pt-1 pb-1">
          <div class="d-flex">
            <div class="name mr-2 font-weight-bold">{{ inside?.name }}</div>
            <span class="badge-tag badge mr-1" *ngFor="let tag of inside?.tag">
              {{ tag?.name ? tag?.name : tag }}
            </span>
          </div>
          <div class="d-flex pt-1">
            <span class="text-muted">
              {{ inside?.address }}
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex col-sm-2 col-4 pr-0 pl-0 align-items-center">
        <div class="text-right w-100">
          <div>
            <b class="price-main"
              >{{ inside?.manager?.name }} {{ inside?.manager?.lastName }}</b
            >
          </div>
          <div>
            <span class="text-muted">
              <span class="pr-1">
                <fa-icon [icon]="faPhoneAlt"></fa-icon>
              </span>
              {{ inside?.phone }}
            </span>
          </div>
        </div>
        <div class="pl-2 pr-2">
          <button
            (click)="goToFilter($event, inside?.name)"
            [tooltip]="'DEPOSITS.VIEW_PRODUCTS' | translate"
            containerClass="customToolTip"
            type="button"
            class="btn btn-default btn-radius btn-sm"
          >
            <fa-icon [icon]="faBox"></fa-icon>
          </button>

          <!--          <div class="ml-2" *ngIf="share.checkPlugins('pdfReport')">-->
          <!--         Filter-->
          <!--          </div>-->
        </div>
      </div>
    </li>
  </ul>
</ng-template>
<!-- ***************** FIN TEMPLATE ************** -->
<ng-template #templateEmpty let-data="data">
  <ng-container *ngIf="!loading"
    ><app-box-empty *ngIf="!data?.length"></app-box-empty
  ></ng-container>
</ng-template>
<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img
        [width]="'5rem'"
        src="../../../../../assets/images/loading-svg.svg"
        alt=""
      />
    </div>
  </div>
</ng-template>
