<div class="bg-white">
  <div class="w-100 d-flex p-3">
    <div class="mr-3" (click)="openUpdateModal()" *ngFor="let template of templatesList">
      <div class="template-single" [style.backgroundImage]="'url('+template?.img+')'">
      </div>
      <div class="p-1 text-center">
        <small>{{template?.name}}</small>
      </div>
    </div>
    <div class="mr-3" (click)="openUpdateModal()">
      <div class="template-single">
      </div>
      <div class="p-1 text-center">
        <small>Crear</small>
      </div>
    </div>
  </div>


</div>
