.btn-round:hover {
  transform: scale(1.1);
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}

.btn-round:hover fa-icon {
  color: #221ECE;
}

.pulse {
  animation: pulse-animation .7s infinite;
  animation-iteration-count: 10;
}

.wrapper-plugins-zone {
  /*border-right: solid 2px var(--border-color-6);*/
  /*margin-right: 1rem;*/
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(34, 30, 205, 0.4)
  }
  100% {
    box-shadow: 0 0 0 20px rgba(34, 30, 205, 0)
  }
}

.dropdown-menu {
  border: solid 1px var(--border-color-6);
  filter: var(--filter-shadow);
  border-radius: var(--border-radius-35) !important;
}
