<!--<div>{{section | json}}</div>-->
<div>
  <span class="not-save small" *ngIf="section?.image">{{'PURCHASE.REMEMBER_SAVE' |translate}}</span>
  <img class="photo" [src]="(section?.original) ? section?.original : section?.image" alt="">
  <div class="author">

    <fa-icon [icon]="faUser"></fa-icon>
    <b>{{'PRODUCT.AUTHOR' | translate}}:</b> {{section?.author?.name}}</div>
</div>
