<ng-container *ngTemplateOutlet="loadingAll;context:{loading:loading}"></ng-container>
<div class="header d-flex justify-content-between w-100 mr-1 ml-1 pt-4">
  <div class="col-3 col-sm-6 col-lg-3 col-xl-3 col-md-3 pl-0 pr-0">
    <input class="form-control" [placeholder]="'ANALYTICS.DATE_RANGE' | translate" [(bsValue)]="rangeDate"
      spellcheck="false" [disabled]="rangeDateDisable" #dateRangePicker="bsDaterangepicker"
      (bsValueChange)="selectRangeSelect($event,'calendar')" bsDaterangepicker
      [bsConfig]="{ rangeInputFormat : 'DD, MMM YYYY', dateInputFormat: 'YYYY-MM-DD' , adaptivePosition:false}">
  </div>
  <div class="col-3 col-sm-6 col-lg-3 col-xl-3 col-md-3 pl-0 pr-0">
    <ng-select [items]="rangesTime" bindLabel="name" [clearable]="false" [(ngModel)]="selectRangeSelectValue"
      [searchable]="false" (change)="selectRangeSelect($event,'select')">
    </ng-select>
  </div>
</div>
<app-list-items (cbAdd)="goTo()" [(data)]="data" [mode]="null" [search]="false" [options]="['']"
  [customTemplate]="customTemplateSrc" (cbSrc)="onSrc($event)" class="col-12 row m-0 pl-1 pr-1">
</app-list-items>

<ng-template #customTemplateSrc let-dat='dat'>
  <ul>
    <li *ngFor="let inside of dat | async; let i = index" class="row ml-0 mr-0 col-12 pl-0 pr-0 ">
      <div class="d-flex col-sm-10 col-8 pr-0 pl-2">
        <div class="d-flex col-sm-10 col-8 pr-0 pl-2">
          <div class="d-none d-md-block pt-2 pb-2">
            <ngx-avatar cornerRadius="5" [round]="false" size="35" [name]="inside?.name | slice:0:2"
              *ngIf="!(inside?.gallery | firstImage:'small')">
            </ngx-avatar>
            <ngx-avatar cornerRadius="5" [round]="false" size="35" [src]="inside?.gallery | firstImage:'small'"
              *ngIf="(inside?.gallery | firstImage:'small')">
            </ngx-avatar>
          </div>
          <div class="pl-2 pr-2 pt-1 pb-1">
            <div class="d-flex">
              <div class="name mr-2 font-weight-bold">{{inside?.name}}</div>
            </div>
            <div class="d-flex pt-1">
              <span class="">
                {{ "GENERAL.COUNT_ORDERS" | translate }} <b>{{inside?.count }}</b>
              </span>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</ng-template>
<!-- ***************** FIN TEMPLATE ************** -->
<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img [width]="'5rem'" src="../../../../../assets/images/loading-svg.svg" alt="">
    </div>
  </div>
</ng-template>
