.header {
  background-color: white;
  padding: .5rem;
  border-top-left-radius: var(--border-radius-35);
  border-top-right-radius: var(--border-radius-35);
  font-weight: 600;
  font-size: var(--font-size);
  letter-spacing: .6px;
  border-top: solid 1px var(--border-color-6);
  border-left: solid 1px var(--border-color-6);
  border-right: solid 1px var(--border-color-6);
}
