<!--<div class="nav-wrapper">-->
<!--  <div class="menu-list text-center">-->
<!--    <div class="row">-->
<!--      <div-->
<!--        class="col-sm-d-none col-md-1 col-lg-1 col-xl-1 mx-auto"-->
<!--        *ngFor="let a of menu; let i = index"-->
<!--      >-->
<!--        <ul class="pt-2">-->
<!--          <ng-container>-->
<!--            <li-->
<!--              *ngIf="!a?.disable"-->
<!--              copilot-->
<!--              [copilot-template]="a?.copilotTemplate"-->
<!--              [copilot-step]="a?.copilot"-->
<!--              class="p-1"-->
<!--              [routerLink]="a.route"-->
<!--              placement="right"-->
<!--              [tooltip]="tolTemplate"-->
<!--              copilot-class="animate__animated animate__fadeInDown"-->
<!--              [adaptivePosition]="false"-->
<!--              containerClass="customClass"-->
<!--            >-->
<!--              <ng-template #tolTemplate>{{ a?.name | translate }}</ng-template>-->
<!--              <div class="p-2 icon-wrapper">-->
<!--                <div class="p-1 sub-wrapper" [routerLinkActive]="['active']">-->
<!--                  <fa-icon class="icon" [icon]="a.icon"></fa-icon>-->
<!--                  <span class="menu-title text-muted">-->
<!--                    {{ a.name | translate }}-->
<!--                  </span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--          </ng-container>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
